[2016-06-23 16:16] vinayak-mehta opened #2 "Preserve table captions and other relevant info"
Right now, it only parses text that is present within a table's boundary. Important information like table captions and footnotes should also be parsed.

![](http://i.imgur.com/gnkR8QY.png)

[2016-06-23 16:19] vinayak-mehta opened #3 "Vertical tables should be parsed correctly"
There can be many variations like horizontal table, vertical headers or vertical table, vertical headers etc.

[2016-06-23 16:21] vinayak-mehta opened #4 "Informative output log"
The output log should contain more information like the number of tables found, display any tables that couldn't be parsed etc.

[2016-06-23 16:22] vinayak-mehta opened #5 "Multi-page tables"
There should be a way to merge tables which span multiple pages.

[2016-06-23 16:27] vinayak-mehta opened #6 "Take care of super and subscripts"
See the [pdfminer](https://github.com/euske/pdfminer/) code and find a way to handle super and subscripts.

[2016-06-24 12:10] vinayak-mehta opened #7 "Needs documentation"
A documentation explaining the working, installation instructions etc. should be there. README should also be improved.

[2016-07-14 15:56] vinayak-mehta opened #12 "Add option to get output as html/json/tsv"
Would be useful.

[2016-07-14 16:03] vinayak-mehta opened #13 "Make UI to modify detected lines, joints, contours"
Something like [tabula-table-editor](http://dump.jazzido.com/tabula-table-editor/) (code: [tabulapdf/tabula-table-editor](https://github.com/tabulapdf/tabula-table-editor)) could be made using matplotlib [widgets](http://matplotlib.org/examples/widgets/index.html) and [event handling](http://matplotlib.org/users/event_handling.html).

[2016-07-18 17:54] vinayak-mehta opened #14 "Extend lattice algorithm to work on image-based pdfs"
Will need to explore python-based tesseract libraries for OCR.

[2016-07-20 07:10] sharky93 opened #17 "Metrics to measure the quality of a parse"

[2016-07-20 07:55] sharky93 opened #18 "Add milestones to the issues"
To keep a track of what are the most immediate things necessary and what can be added iteratively.

[2016-07-20 11:07] #4 closed, assigned to nobody

[2016-07-21 15:54] #12 closed, assigned to nobody

[2016-07-23 00:44] vinayak-mehta opened #21 "Handle /tmp folder deletion"
Do it in `pdf.py` itself.

[2016-07-23 00:50] vinayak-mehta opened #22 "Add verbose option and log to file"
Find some way to write the log buffer to a file if log is True.

[2016-07-25 09:45] sharky93 opened #23 "Intelligence regarding line width parameterisation - for better splits in lattice"
not all lines are useful. many times PDFs are divided into sections with different line widths. thus a parameter for tuning the line width to consider something as a line.

[2016-07-25 15:09] sharky93 opened #24 "pagination for debug screen viewing in bulk"
do not want the screen to get blocked
# longterm

[2016-07-25 17:02] #24 closed, assigned to nobody

[2016-07-25 17:03] #21 closed, assigned to nobody

[2016-07-27 16:59] vinayak-mehta opened #25 "Process pages in chunks"
When loading a lot of pages (~42000) at once, memory gets filled up quickly and parsing stalls. A way to solve this would be to process pages in chunks. (think of generators) Or using `multiprocessing` maybe. @sharky93 Would you like to add something?

[2016-08-03 09:14] sharky93 opened #27 "Configuration to guide the morph transform"
Cases where the user is aware of which section of PDF houses the interesting things (tables here mostly), a simple configuration option to guide the image processing will reduce run-times further.
For example - when half of the PDF is blank, no need to process those pixels

[2016-08-03 16:17] sharky93 opened #28 "Tolerance parameter for overlap and its cascading effect"
Will be used for generating better grid coordinates for stream. Happens within the set of rows with mode number of columns and the overlap will lead to increase or decrease in the number of columns which stream guesses. We don't go beyond this 1-pass in the recursion.

[2016-08-03 16:20] sharky93 opened #29 "idea of stats or informative log is separate from the parsing score that is generated"
for example - imagine a PDF with majority text and a small table that is of interest. the score is affected by only how the table is extracted, where as it is good to have stats on such and such LTText(s) etc were ignored et al.

[2016-08-03 16:24] sharky93 opened #30 "troughs vs. text for stream"
again, two ways of getting to the grid finally for using the stream method, either you analyse the text to get to vertices OR analyse the blank spaces to get to vertices.
will be parameterised, by default the stream method should utilize both to get to a final set of vertices.

[2016-08-03 20:21] #22 closed, assigned to nobody

[2016-08-04 08:52] #25 closed, assigned to nobody

[2016-08-04 17:11] sharky93 opened #31 "Process partial grid using lattice itself"
Can process a partial grid using lattice method if the grid generation is done using hough but will need to specify some version of a bounding box calculation of which is already done using contours.
Division of the page will be needed pre-running the hough transform.

[2016-08-04 17:18] vinayak-mehta opened #32 "Add option to specify table bbox for Stream"
One way would be to give a dict on page numbers with list of `table_bbox`, subsequently changing how `ncolumns` and `columns` are passed to `Stream`.

[2016-08-05 20:00] vinayak-mehta opened #33 "Tolerance parameter for assigning text object into cell for Stream"
Currently, `LTTextLH` are assigned to cells based on their `x0` coord. Additionally, the area overlap between the `LTTextLH` and cell could be used for better assignment. A tolerance parameter for minimum area overlap required for assignment into a cell can be added. For example (see image), it makes sense to add the third text box to column 2 instead of 1. @sharky93

![](http://i.imgur.com/wPYNo9

[2016-08-06 01:16] #28 closed, assigned to nobody

[2016-08-06 01:17] #18 closed, assigned to nobody

[2016-08-09 12:55] #33 closed, assigned to nobody

[2016-08-11 14:19] sharky93 opened #36 "Update to the stream algorithm regarding left and right extreme grid points"
Modifications to the grid needed post the `mode` calculation for the rows where data lies outside the grid formed using `mode` number of columns

[2016-08-24 15:34] vinayak-mehta opened #37 "Add option to return page numbers along with row/column distribution"

[2016-08-24 15:39] vinayak-mehta opened #38 "Catch and log warnings"
The `UserWarning`s raised in `Lattice` and `Stream` are not logged into a file right now.

[2016-08-24 17:03] #38 closed, assigned to nobody

[2016-08-24 17:18] #36 closed, assigned to nobody

[2016-08-24 17:20] #30 closed, assigned to nobody

[2016-08-29 10:17] #37 closed, assigned to nobody

[2016-08-30 07:47] #29 closed, assigned to nobody

[2016-08-30 09:24] #17 closed, assigned to nobody

[2016-08-31 12:41] vinayak-mehta opened #41 "Fix magic grid extension"
In `Stream`, the table boundary is taken as (0, `width`) and (0, `height`) where `width` and `height` are PDF dimensions. This should be changed to (`x0` of first text object, `x1` of last text object on x-axis) and (`y0` of first text object, `y1` of last text object on y-axis) respectively because logic.

[2016-08-31 13:31] vinayak-mehta opened #42 "Can initializing Stream column generation be improved?"
Currently, the list of x-axis projections of text objects is sorted in `(-y, x)` style. These projections are then sequentially merged based on overlaps. This may fail when the projection of the last text object in a column extends to projection of the first text object in the next column, as it will merge the two columns into one. A better way to do this would be to group text objects into column

[2016-08-31 13:35] vinayak-mehta opened #43 "Don't merge columns when a negative tolerance is given"
Modify `_merge_columns` to account for a negative tolerance parameter and not merge x-axis column projections if they are within that tolerance.

[2016-08-31 13:38] vinayak-mehta opened #44 "Extend vertical text detection to cells in Lattice"
To classify a table as vertical, Lattice needs atleast `80%` of its `LTChar`s to be vertical. This could be removed and extended to cells to solve these kinds of cases.

![](http://i.imgur.com/l07Dydm.png)

[2016-08-31 15:37] #41 closed, assigned to nobody

[2016-08-31 16:55] #43 closed, assigned to nobody

[2016-08-31 20:13] #44 closed, assigned to nobody

[2016-08-31 20:48] vinayak-mehta opened #48 "Add logic for unorthodox spanning cells"
We should discuss more of these cases.
![](http://i.imgur.com/tv0pbkn.png)

[2016-08-31 20:57] vinayak-mehta opened #49 "Add option for batch input"
For example,

<pre>
camelot method pdf_dir/
</pre>

or

<pre>
camelot method *.pdf
</pre>

Initially the files would be processed sequentially, but in the future, support for distributed processing should be implemented.

[2016-09-02 10:17] vinayak-mehta opened #50 "PDFMiner sanity check"
Check if the LTObjects hierarchy is changed when modifying margins. Also, see how PDFMiner generates newlines and spaces.

[2016-09-02 10:19] vinayak-mehta opened #51 "Improve image generation"
Currently, sometimes due to poor image quality*, extra lines are detected which leads to more/less joints contributing to table building. For dealing with more joints, a filter based on line length can be added. For less joints, a better quality image by tweaking [Wand](http://docs.wand-py.org/en/0.4.3/) parameters, or using heuristics like merging close contours could be done.

[2016-09-08 09:54] vinayak-mehta opened #56 "Deprecate joint tolerance in Lattice"
`jtol` is used to take care of any errors that might arise while converting from image coordinate space to the pdf coordinate space, converting line contours to lines. There is no need for it to be user configurable.

[2016-09-08 10:06] vinayak-mehta opened #57 "Replace imagemagick with ghostscript"
imagemagick uses ghostscript for PDF->PNG conversion. However, it calls `gs` twice, first for PDF->PS and then PS->PNG. According to this SO [answer](http://stackoverflow.com/questions/3613015/what-are-best-parameters-to-run-imagemagick-to-convert-low-quality-pdf-to-images) it doesn't keep quality in first step. `gs` can do PDF->PNG in one go and with better quality. (checked this on some PDFs in

[2016-09-09 15:35] #51 closed, assigned to nobody

[2016-09-13 08:33] #50 closed, assigned to nobody

[2016-09-13 11:33] #32 closed, assigned to nobody

[2016-09-13 12:01] #56 closed, assigned to nobody

[2016-09-13 12:05] #57 closed, assigned to nobody

[2016-09-15 15:22] #3 closed, assigned to nobody

[2016-09-16 09:24] vinayak-mehta opened #62 "Replace Lattice chars with textlines"
When filling chars in cells after sorting them according to their coordinates, 6<sup>th</sup> gets filled as `th6`. By replacing chars with textlines, which are made by grouping chars, we can get `6th` as output. Though we need to take care of splitting textlines if they span across multiple cells. There should also be an option in both methods to specify whether textlines should be splitted if th

[2016-09-26 08:28] vinayak-mehta opened #64 "Add option to modify the ToUnicode map"
To be updated.

[2016-10-31 10:41] vinayak-mehta opened #71 "Autodetect bounding box for Stream"
This will help in cases where a pdf page has two or more tables with a box outline, but without internal lines to demarcate cells. Need to think on how to integrate `find_table_contours` from `imgproc` with `Stream` column generation.

[2016-10-31 10:42] #6 closed, assigned to nobody

[2016-10-31 10:43] #13 closed, assigned to nobody

[2016-10-31 10:44] #62 closed, assigned to nobody

[2016-10-31 10:45] #48 closed, assigned to nobody

[2016-10-31 11:00] vinayak-mehta opened #72 "Indicate the presence of lines explicitly in output"
In case of tables where there are insufficient lines to demarcate all cells, the relatively smaller lines should be shown in the output as rows or columns of cells filled with the word `line`, just to help out someone in post processing.

[2016-10-31 11:11] vinayak-mehta opened #73 "Shift text up in hybrid spanning cells"
Shift text up based on the presence of horizontal lines and some metric based on blank rows. If the vertical lines are not present then, `Stream` generated columns/user given separators should be used.

For example:
![](http://i.imgur.com/d08PunM.png)

[2017-04-17 07:41] #49 closed, assigned to nobody

[2017-04-18 13:57] #14 closed, assigned to nobody

[2017-04-18 14:00] #31 closed, assigned to nobody

[2017-04-18 14:01] #72 closed, assigned to nobody

[2017-05-05 12:07] vinayak-mehta opened #79 "Page splitting is very slow for some PDFs"
The function that checks for page rotation is the culprit. pdfminer's layout analysis takes a long time for such pdfs. Examples: the RNTB pdfs from un-sdg.

[2017-05-08 00:15] vinayak-mehta opened #80 "Improve logging"
Current logs for such cases are of the form `WARNING:root:Text did not fit any column.` which don't provide any details.

[2018-08-28 09:18] #7 closed, assigned to nobody

[2018-08-30 21:45] vinayak-mehta opened #81 "Port to Python 3"
Have to figure out if the following dependencies work as expected, in Python 3:
- [x] https://github.com/pdfminer/pdfminer.six (unofficial port)
- [x] OpenCV

Thinking of starting with using things from `__future__` wherever possible (mostly print, division and unicode_literals), and create a release for Python 2. That should make it easy for us to create a Python 3 release once the deps are sorte

[2018-08-30 21:58] vinayak-mehta opened #82 "Improve API and CLI"
This thread is for discussion about the new interface.

[2018-08-30 22:26] vinayak-mehta opened #83 "Make stats more usable"
Use-cases:
1. Help the user drop tables in an ETL workflow based on parsing accuracy, whitespace in table cells.

[2018-08-30 22:29] vinayak-mehta opened #84 "Improve documentation"
This thread is for discussion around documentation, what to add/improve, where to host etc.

[2018-08-30 22:31] vinayak-mehta opened #85 "Add Build/CI"
This thread is for discussion about what CI tool to use.

[2018-08-30 22:40] vinayak-mehta opened #86 "Fix testing framework"
This thread is for discussion around improving tests.

[2018-08-30 22:53] vinayak-mehta opened #87 "What license to choose?"
This thread is for discussion around licenses.

[2018-08-31 00:11] vinayak-mehta opened #88 "Remove OCR from this release"

[2018-09-01 10:57] #88 closed, assigned to nobody

[2018-09-02 13:16] vinayak-mehta opened #89 "One click installation"
If installing in a virtual environment
- User has to create a symbolic link to `cv2.so` (OpenCV) from global site packages.
- Have to run toggleglobalsitepackages for numpy (dependency for OpenCV) if it is installed globally.

Think whether you want to recommend virtualenv usage or not. Either do all of this within the `setup.py` or look for another solution.

[2018-09-02 13:22] vinayak-mehta opened #90 "Move from requirements.txt to Pipfile?"
Concept: https://github.com/pypa/pipfile#the-concept

This thread is also for discussion around dependency package versions.

[2018-09-02 13:42] vinayak-mehta opened #91 "read_pdf from a URL"

[2018-09-05 17:50] vinayak-mehta opened #93 "Add export functionality to Table and TableList"
<pre>

</pre>

[2018-09-05 17:54] vinayak-mehta opened #94 "Rewrite CLI using Click"
- There has to be a major rewrite anyway due to the API change and moving exports to within library.
- Moving to `entry_points` in setup.py from `scripts`.

via https://stackoverflow.com/a/28119736

[2018-09-06 00:55] vinayak-mehta opened #95 "Fix parser configuration naming"
Make configuration parameters for parsing methods more intuitive (either through docs or making them simpler or removing them?), for example, user has no idea what threshold_constant is.

[2018-09-06 00:55] #82 closed, assigned to nobody

[2018-09-06 11:59] vinayak-mehta opened #96 "Remove dependency on distro specific packages"
Something to think about for the future:
- ~OpenCV: maybe implement morph transform within the library itself/vendorize the code (not sure about dependency on C extensions)?~
- tk: Required for matplotlib.
- ghostscript: maybe use some Python library to convert PDF to image (same quality as ghostscript).

[2018-09-06 23:33] vinayak-mehta opened #97 "Clean up temporary files after parsing"

[2018-09-06 23:43] #93 closed, assigned to nobody

[2018-09-07 00:23] #80 closed, assigned to nobody

[2018-09-07 22:24] #95 closed, assigned to nobody

[2018-09-09 00:07] #86 closed, assigned to nobody

[2018-09-09 12:41] #97 closed, assigned to nobody

[2018-09-09 12:45] #89 closed, assigned to nobody

[2018-09-10 09:47] #94 closed, assigned to nobody

[2018-09-10 22:36] #87 closed, assigned to nobody

[2018-09-11 03:19] vinayak-mehta opened #101 "Bring back OCR in a future release"
The experimental version exists before this commit 9753889ea266c3b8e412d77eb411617ec40d8393. It uses Tesseract (using pyocr). [ocropy](https://github.com/tmbdev/ocropy) looked promising the last time I checked, opening this issue for discussion and experiments around OCR.

An earlier issue around the same topic: #14

[2018-09-11 22:55] #71 closed, assigned to nobody

[2018-09-11 22:59] vinayak-mehta opened #102 "Detect tables automagically when Stream is used"
By default, Stream treats the whole page as a table right now, which fails when there are two or more Stream-type tables on the same page with different number of columns. Change the default to fallback.

[12s0324.pdf](https://github.com/socialcopsdev/camelot/blob/master/tests/files/tabula/12s0324.pdf) and how Tabula does this should be a good start.

[2018-09-12 04:21] vinayak-mehta opened #103 "Duplicate strings being assigned to the same cell"
Check out this [birdisland.pdf](https://github.com/socialcopsdev/camelot/blob/master/docs/benchmark/stream/birdisland/birdisland.pdf)'s output [here](https://github.com/socialcopsdev/camelot/blob/master/docs/benchmark/stream/birdisland/birdisland-data-camelot-page-1-table-2.csv).

[2018-09-14 02:41] #84 closed, assigned to nobody

[2018-09-14 21:42] vinayak-mehta opened #104 "Can the API be made better?"
I'm opening this issue to invite comments on the current API.

The current API is inspired by pandas `read_*` functions, `read_html` to be more specific. The rationale behind having a `camelot.read_pdf()` and not something else is that:

1. `read_pdf()` parses a PDF page which is composed of atomic elements (characters, lines which have defined coordinates) to extract tables, just like`read_html()

[2018-09-22 13:02] vinayak-mehta opened #105 "Vertical text lines should be assigned correctly"
Check the parsed result of [agstat.pdf](https://github.com/socialcopsdev/camelot/blob/master/docs/benchmark/lattice/agstat/agstat.pdf) [here](https://github.com/socialcopsdev/camelot/blob/master/docs/benchmark/lattice/agstat/agstat-data-camelot-page-1-table-1.csv). The vertical headers are being assigned in the wrong order.

[2018-09-23 02:45] vinayak-mehta opened #106 "Make PDFHandler more efficient"
Every time `read_pdf` is called, a new `PDFHandler` object is created, and `parse` (which splits a PDF into multiple single page PDFs). This is inefficient. Instead:
- Split and store single page PDFs into a temp directory named after the md5 hash of the master PDF file. And then calculate the actual _new_ single page PDFs that are needed, based on the page numbers provided by the user (which can

[2018-09-26 20:45] #85 closed

[2018-09-27 10:59] vinayak-mehta opened #108 "Create conda package"

[2018-09-28 11:33] vaibhavmule commented on #81
I have never made a project that supports both Python 2.x and Python3.x version,

It will be learning for me, I can help it port this library to Python3,

Let me know How can I get started?

[2018-09-28 14:04] vinayak-mehta commented on #81
Hello @vaibhavmule! I'd already created a branch for this locally, let me push it. I've used `pdfminer.six` instead of `pdfminer`, and the tests are passing (after some minor modifications). You can check out the following links which show how to write Python 2+3 compatible code:
1. http://python3porting.com/
2. http://python-future.org/compatible_idioms.html

You can also look into adding more te

[2018-09-28 14:06] vaibhavmule commented on #81
Yes that is what I read, test coverage is needed.

LGTM, you can go ahead and create an issue.

[2018-09-28 16:28] #81 closed

[2018-09-28 16:54] vinayak-mehta opened #110 "Needs more tests"
Listing down some things which can be tested, additionally [Codecov](https://codecov.io/github/socialcopsdev/camelot?branch=master) can be referred to look at the modules that have poor coverage.

- [x] Whether an error/warning is raised or not (protip: check out scikit-learn tests)
    - [x] Unknown flavor in read_pdf
    - [x] utils.validate_input ValueError
    - [x] File format error in PDFHan

[2018-09-28 16:58] vinayak-mehta commented on #110
@vaibhavmule A good start would be to install and use the library, get a feel of it and then add to the list above.

[2018-09-28 17:00] vaibhavmule commented on #110
Sure, let me pull the repo and If I get stuck, will let you know.

[2018-10-02 15:15] vinayak-mehta opened #114 "Needs Makefile"
We could do with a Makefile to automate some things like installation, building docs, generating coverage etc. Here are some good ones:

- [scikit-learn](https://github.com/scikit-learn/scikit-learn/blob/master/Makefile)
- [requests](https://github.com/requests/requests/blob/master/Makefile)

[2018-10-02 18:16] vinayak-mehta opened #115 "Update contributor's guide with new labels"
The guide has still refers to the old `Contributor Friendly` label, update it by pointing to `help wanted` and `good first issue` labels.

[2018-10-02 18:28] johnnymetz commented on #115
I'm on it

[2018-10-02 18:37] johnnymetz commented on #115
Done #116

[2018-10-02 22:44] Miladinho opened #118 "read-pdf not part of camelot module??"
My code
[code]

The error:
[code]

[2018-10-02 23:05] vinayak-mehta commented on #118
This error is the result of your filename sharing the name with the module that you're trying to import. The current directory is prepended to `sys.path`, so the local name takes precedence over the installed name. You can check out this [SO answer](https://stackoverflow.com/a/36250354) for more info.

Rename your file to something else and you should be good to go.

[2018-10-02 23:05] #118 closed

[2018-10-03 00:06] Miladinho commented on #118
@vinayak-mehta
Thank you for the prompt response!

[2018-10-03 06:37] pecey commented on #91
Is this still something that needs to be done?

[2018-10-03 07:07] vinayak-mehta commented on #114
@rubiagatra Yes! You can check out the contribution guidelines and the Makefiles above and open a PR. You should put an initial set of directives you are planning to add, in the PR description. We can discuss this further on the PR.

[2018-10-03 08:38] vinayak-mehta commented on #91
Hey @pecey, it would be good to have this as a feature. A good starting point would be pandas' [read_html](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_html.html). Do post here about how you're planning to do this if you take this up 😄

[2018-10-04 08:14] Prady96 opened #120 "read_pdf is not working"
Here is a copy of my work which i am trying to convert pdf
https://colab.research.google.com/drive/1_CbvXZnTr1QiagcD_FwtyQelNOGo0gkn

Here is the error that i am receiving
FileNotFoundError: [Errno 2] No such file or directory: 'gs': 'gs'

I checked online i have also installed ghostscript

Thanks!

[2018-10-04 09:56] vinayak-mehta commented on #120
Hello @Prady96. Checked out the notebook and saw that you're trying to install ghostscript using pip. You have to install it using apt or brew or your system's package manager. You can check out the installation instructions here. https://camelot-py.readthedocs.io/en/latest/user/install.html#install

[2018-10-04 10:09] Prady96 commented on #120
Hi,
Thanks for the reply
I found your documentation on camplot taken refernce from this

Is there any way you can suggest me to convert PDF to XML with highest accuracy via cameplot?

[2018-10-04 10:21] vinayak-mehta commented on #120
Camelot can help you extract a PDF table into a pandas DataFrame, which you can export to CSV, JSON, Excel or HTML. It doesn't support conversion to XML right now. Maybe you could convert to JSON/HTML and then convert the output to XML in post processing.

However, if your goal is just to convert a PDF into XML, you can try `pdftohtml -xml` from poppler-utils.

Hope that helps!

[2018-10-04 10:21] #120 closed

[2018-10-04 10:29] Prady96 commented on #120
Thanks @vinayak-mehta for all your assistance.

[2018-10-04 12:54] raja-rahamath opened #121 "windows anaconda read_pdf"
Hi
I am getting following error while reading the pdf from specific directory, i have explored this error in the forum, not able to figure correctly. Please help thank you.

My Environment
Windows 10
Anaconda
Python 3.6

Below is the code snippet from windows command windows

(base) C:\work\python\pdf>python
Python 3.6.3 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bi

[2018-10-04 15:14] vinayak-mehta commented on #121
@raja-rahamath Thanks for reporting this with all the specifics! I was able to reproduce this bug on Windows. I have written a fix, will release it in the night (with the conda package and updated installation instructions) and then update here.

Meanwhile, you'll need to install ghostscript from https://www.ghostscript.com/download/gsdnld.html.

After installation, you'll need to reboot your syst

[2018-10-04 15:16] vinayak-mehta commented on #121
You can also check out this [SO answer](https://stackoverflow.com/a/6015004) for instructions about adding the ghostscript executable to the windows PATH variable.

[2018-10-04 15:42] vaibhavmule opened #123 "Make sure code follows pep8"

[2018-10-04 16:51] vinayak-mehta commented on #123
Thanks for filing! I was planning to do this for 0.2.1. In addition to PEP8, [KR's code style](http://docs.python-requests.org/en/master/dev/contributing/#kenneth-reitz-s-code-style) makes a lot of sense to me. If you want to take this up, you can open a PR!

[2018-10-04 18:51] Oshawk commented on #123
I will have a go at fixing this.

[2018-10-04 19:04] vinayak-mehta commented on #123
@Oshawk You can use flake8 to find places where changes are needed. But don't change everything that flake8 recommends, check out the KR code style in my comment above for guidelines.

[2018-10-04 19:41] Oshawk commented on #123
Have done what I can https://github.com/socialcopsdev/camelot/pull/125

Happy to redo anything.

[2018-10-04 20:33] vinayak-mehta commented on #123
Hey @Oshawk, added my review on the PR.

[2018-10-05 05:38] raja-rahamath commented on #121
Hi thanks for the reply, I have tried the suggested solution by installing ghostscript and adding it system environment and rebooting, still I am getting the same error, kindly advise

04/10/2018  08:22 AM           157,651 stt.pdf

               5 File(s)     60,068,493 bytes
               0 Dir(s)  27,476,795,392 bytes free

(base) C:\work\python\pdf>python
Python 3.6.3 |Anaconda custom (64-bi

[2018-10-05 07:15] vinayak-mehta commented on #110
I'm doing number 4 in the list now.

[2018-10-05 11:08] vinayak-mehta commented on #110
Opening a separate issue for testing the plotting module.

[2018-10-05 11:08] #110 closed

[2018-10-05 11:22] vinayak-mehta opened #127 "Create a new figure and test each plot type"
Camelot supports [plotting of 5 types of geometries](https://camelot-py.readthedocs.io/en/latest/user/advanced.html#plot-geometry) for debugging and tweaking parser configurations.

Plotting needs to be refactored in such a way that all plot functions return a [matplotlib figure](https://matplotlib.org/api/_as_gen/matplotlib.pyplot.figure.html), so that they can be tested either by using [pytest](

[2018-10-05 13:48] vaibhavmule opened #129 "add appveyor.yml for Windows support for Camelot"

[2018-10-05 14:57] vinayak-mehta commented on #121
@raja-rahamath You can now install 0.2.1 by `pip install camelot-py==0.2.1`, which should fix this.

[2018-10-05 14:57] #121 closed

[2018-10-06 08:17] raja-rahamath commented on #121
Thank you very much for the support working perfectly

[2018-10-07 08:29] vinayak-mehta commented on #129
Will look into it in some time.

[2018-10-09 19:04] tkelman commented on #96
Could the matplotlib dependency be made optional? The plotting features here look like not a lot of code, and it's a pretty complicated dependency to pull in.

Similarly might pillow be a viable smaller alternative to the use of opencv here?

[2018-10-09 19:31] vinayak-mehta commented on #96
Hello @tkelman! I think making matplotlib optional makes sense. Let me look into it as I go on to adding more tests for the plotting code #127.

Camelot uses [adaptive threshold](https://docs.opencv.org/3.4/d7/d1b/group__imgproc__misc.html#ga72b913f352e4a1b1b397736707afcde3) and [morphological transformations](https://docs.opencv.org/3.4/d9/d61/tutorial_py_morphological_ops.html) from opencv. I ha

[2018-10-10 16:11] #108 closed

[2018-10-11 06:18] Saichandarreddy opened #135 "camelot.read_pdf is not able to read all the tables from a pdf."
if a pdf has 6 tables it is extracting 3 or 4 tables.

[2018-10-11 07:03] Saichandarreddy opened #136 "camelot.read_pdf is extracting the table structure based on the first row of the table."
if the 1st row of a table is having single column  and remaining rows having multiple columns.
then it is considering all the columns of remaining rows as single item and it is appending them into one.because 1st row has only one column.

[sample.txt](https://github.com/socialcopsdev/camelot/files/2467688/sample.txt)
it is giving the table as below format
items and its values
weight12 kg
price200

[2018-10-11 07:18] vinayak-mehta commented on #135
Hello @Saichandarreddy! Please read [this section](https://camelot-py.readthedocs.io/en/master/dev/contributing.html#bug-reports) of the contributor's guide for guidelines around filing issues.

[2018-10-11 07:18] vinayak-mehta commented on #136
Hello @Saichandarreddy! Please read [this section](https://camelot-py.readthedocs.io/en/master/dev/contributing.html#bug-reports) of the contributor's guide for guidelines around filing issues.

[2018-10-11 18:06] #114 closed

[2018-10-12 11:44] analyticalmonk commented on #108
@vinayak-mehta Do look into this. Adding conda-forge can result in unexpected behavior. This was the reason why so many packages were being updated when I'd tried to install camelot.
https://github.com/conda/conda/issues/6948

[2018-10-12 11:52] vinayak-mehta commented on #108
@analyticalmonk I think creating a fresh new environment should be the way to go. I'll check this though.

[2018-10-12 12:08] wanghaisheng opened #137 "have you guys learned of pdftotree"
perhaps  can add comparison in the  https://github.com/socialcopsdev/camelot/wiki/Comparison-with-other-PDF-Table-Extraction-libraries-and-tools
https://github.com/HazyResearch/pdftotree

🌲 A tool for parsing PDF documents into a heirarchical, HTML-like tree.

[2018-10-12 14:53] yashha opened #138 "No tables found on pdf with advanced tables"
On this document it found nealy no tables, but they are pretty difficult to recognise I guess. I was just testing the tool, the data is not needed by me.
https://www.bamf.de/SharedDocs/Anlagen/DE/Downloads/Infothek/Statistik/Asyl/201603-statistik-anlage-asyl-geschaeftsbericht.pdf?__blob=publicationFile

[code]

[2018-10-12 16:22] jainkshitij opened #139 "Allow logger setting"
Allow user based parameter to suppress warnings. Right now for a large pdf, you can get about 30-40 warnings of type "UserWarning: No tables found on page-xx [stream.py:292]".

[2018-10-12 17:40] topper-123 opened #140 "can't get read_pdf to work on Windows"
Assumedly others can get read_pdf to work, so this is just an error report to fix some bug instance.

Anyway, when I - after downloading ``foo.pdf`` into the working directory - do ``camelot.read_pdf('foo.pdf')``, I get

[code]

Digging into the debugger, I see that in the Lattice object, the temp image file does not exist. So when at one point ``camelot.parsers.lattice.Lattice._generate_image`` i

[2018-10-12 22:28] ZainRizvi opened #141 "Please add support for reading tables with Arabic fonts"
Versions:
Linux-4.9.0-6-amd64-x86_64
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0]
NumPy 1.15.2
OpenCV 3.4.2

Hi,

Can you please support reading languages in Arabic fonts?

In particular, I'm trying to extract tables from [this document](https://www.scribd.com/document/390747134/Quran-With-side-by-side-translation-from-Ali-Quli-Qurai) ([backup link](https://www.dropbo

[2018-10-13 07:53] wanghaisheng commented on #108
i have tried to set up  on MACos

[code]
when i  start ,there is
[code]

[2018-10-13 08:49] vinayak-mehta commented on #135
@Saichandarreddy Closing this due to insufficient information, please open an issue again if you face the same problem!

[2018-10-13 08:49] #135 closed

[2018-10-13 08:49] vinayak-mehta commented on #136
@Saichandarreddy Closing this due to insufficient information, please open an issue again if you face the same problem!

[2018-10-13 08:49] #136 closed

[2018-10-13 08:52] vinayak-mehta commented on #137
@wanghaisheng I've added this to my TODOs! (along with a some other table extraction libraries) Thanks for pointing it out!

[2018-10-13 08:52] #137 closed

[2018-10-13 08:55] vinayak-mehta commented on #138
Hello @yashha! By default, Camelot extracts tables only from the first page of a PDF. You can check out the [quickstart section](https://camelot-py.readthedocs.io/en/master/user/quickstart.html) of the docs on how to specify page numbers.

[2018-10-13 08:55] #138 closed

[2018-10-13 09:07] vinayak-mehta commented on #140
Thanks for the report @topper-123! Did you install Camelot using pip or conda? Did you install the dependencies before that? (specifically ghostscript, which is used to convert a PDF into an image) If yes, what is the name of your ghostscript executable and is it in the Windows PATH variable?

You can do this [check](https://camelot-py.readthedocs.io/en/master/user/install.html#for-ghostscript) to

[2018-10-13 09:57] vinayak-mehta commented on #141
Thanks for the detailed report @ZainRizvi!

This is a problem in the PDF itself, its ToUnicode map is incorrect. I tried copying and pasting the arabic text from the PDF into a text editor and got boxes instead of arabic characters. In the past, I've used OCR to get text out of such PDFs.

Can you give me an example of this and help me understand this better? Perhaps you mean "same _column_ of two

[2018-10-13 13:51] topper-123 commented on #140
I've got ghostscript installed, but ``gswin32c.exe -version`` finds nothing. So It's most probably a path issue. I'll look into getting the path set correctly up.

Maybe Camelot should on the first call to ghostscript do a existence check for ghostscript (a la ``gswin32c.exe -version``), so a error mesage could be given for that instead of missing file?

[2018-10-13 15:29] ZainRizvi commented on #141
"This is a problem in the PDF itself, its ToUnicode map is incorrect. I tried copying and pasting the arabic text from the PDF into a text editor and got boxes instead of arabic characters. In the past, I've used OCR to get text out of such PDFs."

Interesting.  I'm not very familiar with the PDF format. If the ToUnicode map is incorrect for those characters then how do PDF readers manage to rende

[2018-10-13 17:00] enolette opened #142 "ImportError"
`---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-99c4ba23a7c1> in <module>()
      1 import pandas as pd
----> 2 import camelot

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/camelot/__init__.py in <module>()
      4
      5 from .__version__ impo

[2018-10-13 18:14] vinayak-mehta opened #143 "Add usage examples in the CLI documentation"

[2018-10-13 18:19] vinayak-mehta commented on #142
Did you install camelot using pip or conda?

[2018-10-13 18:59] enolette commented on #142
pip!

[2018-10-14 15:14] KOLANICH opened #144 "Use setup.cfg instead of messing with the dict for setup manually"
https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files
 You can use https://github.com/KOLANICH/RichConsole/blob/master/setup.py as a boilerplate.

[2018-10-14 15:41] rra94 commented on #91
Hey I'm interested in this issue. Can you explain a little more?

[2018-10-14 19:23] MinhduongUNO opened #145 "AttributeError: module 'camelot' has no attribute 'read_pdf' on Mac"
I downloaded this[ list ](https://www.apple.com/supplier-responsibility/pdf/Apple-Supplier-List.pdf)from Apple and saved it in the same folder as my test Python file. I installed dependencies and the Camelot-all, but I kept receiving that message. Any idea how to fix it?

Thanks

[2018-10-15 09:03] vinayak-mehta commented on #106
Yes @shubhamtambere! How do you plan on implementing this? Can you create a detailed plan and post it here?

[2018-10-15 09:06] vinayak-mehta commented on #144
Thanks for the suggestion @KOLANICH! A `__version__.py` with all the necessary information about the package, especially the version helps me maintain the version in one place, so closing this right now.

[2018-10-15 09:06] #144 closed

[2018-10-15 09:07] vinayak-mehta commented on #91
Hey @rra94, you can check out the links in my comment above. Just like pandas.read_html reads html from a URL, camelot.read_pdf would read a PDF from a URL.

[2018-10-15 09:09] vinayak-mehta commented on #145
@MinhduongUNO Can you confirm if this is similar to https://github.com/socialcopsdev/camelot/issues/118?

[2018-10-15 09:13] vinayak-mehta commented on #143
Thanks for the PR @eamanu! Though instead of adding another command to display examples, I was looking for example of CLI usage inside the documentation itself. A good way to do this would be to:

- Add the corresponding CLI example with each chunk of Camelot Python code that is present in the quickstart and advanced usage guides.
- Add one or two examples below the CLI documenation.

[2018-10-15 14:50] rra94 commented on #91
Hey @vinayak-mehta  I can take this. I have two ideas:

1.  Use Urllib2 to get the pdf as a stringIO object and pass it to the PdfFileReader function in the pdfhandler
2. Download a local copy again using URLLIB and then use the local copy to with the PdfFileReader.

What do you recommend?

[2018-10-15 15:00] eamanu commented on #143
Ah!! Ok! I will work in this tonight. Thanks!

[2018-10-15 16:03] odedsh opened #147 "Unable to parse tables that use multiple colors for text, background and borders"
The attached [pdf](http://s000.tinyupload.com/?file_id=72860431408529670599) file contains a simple example of a table that I could not extract using camelot:

Both these do not work:
tables = camelot.read_pdf('bugExample.pdf')
tables = camelot.read_pdf('bugExample.pdf', process_background=True)

tabula-py can parse the same example
tables = tabula.read_pdf('bugExample.pdf')

I suspect that the fa

[2018-10-15 16:05] alanbernstein commented on #145
Another potential cause of this problem is incorrectly installing via `pip install camelot`, instead of `pip install camelot-py`.

[2018-10-15 16:15] alanbernstein opened #148 "OpenCV error in cvtColor"
Camelot failed with some OpenCV error on a personal document of mine. I tried again with this file https://arxiv.org/pdf/1706.05137.pdf, and saw the same error. This is just after having resolved `ModuleNotFoundError: No module named 'cv2'` with `pip install opencv-python`. I've used OpenCV on this machine without trouble before, but I'm not too familiar with the installation process/dependencies

[2018-10-15 17:04] vinayak-mehta commented on #91
1 sounds better than 2 since we don't have to worry about cleaning up the downloaded file afterwards. (Though it'll fill up memory in case of very large files, we could give this out as a warning. Did you take a look at pandas.read_html? How is this implemented there?)

We might also need to think about differentiating between filepaths and URLs using regexes maybe.

[2018-10-15 17:06] vinayak-mehta commented on #147
Thanks for the report @odedsh! This might be due to the differently colored lines (both in foreground and background). Let me have a look into how this can be done using Lattice. We could even add this as an example and a test.

Meanwhile, you should definitely be able to get the table out using the Stream flavor!

[2018-10-15 17:08] vinayak-mehta commented on #145
@alanbernstein Did you also encounter this error initially?

@MinhduongUNO You should try installing `camelot-py[all]` like Alan pointed out, instead of Camelot-all.

[2018-10-15 17:11] vinayak-mehta commented on #148
@alanbernstein To install Camelot, you need to do `pip install camelot-py[all]` as given in the README.

A traceback with `/Users/travis` is a weird error, could be that `opencv-python` is built on Travis-CI before being uploaded to PyPI and you installed a broken build. Let me look into this.

[2018-10-15 17:15] alanbernstein commented on #145
@vinayak-mehta I did, but the problem was clear to me because I had just read the correct pip package name.

[2018-10-15 18:58] rra94 commented on #91
in pandas it's the same thing afik

if _is_url(obj):
        with urlopen(obj) as url:
text = url.read()

we can use regex or simply the first four chars to be equal to ftp or http

[2018-10-15 20:47] odedsh commented on #147
Unfortunately because of the long titles in this table reading with the 'stream' flavor will not correctly identify the cells.

The shape I am getting with 'stream' is:
<Table shape=(11, 2)>
which is incorrect there are 4 columns in the table.

[2018-10-15 21:15] Tavisius25 opened #149 "Specify Table Areas Returns Full Page"
As per the advanced uses section in the documentation, I would like to define a portion of a page for table extraction using the stream parsing method. I am using the 3rd page of the following pdf...
[SziniczToxicol.pdf](https://github.com/socialcopsdev/camelot/files/2480549/SziniczToxicol.pdf)

I read the pdf like this
     table = Camelot.read_pdf('SziniczToxicol.pdf', pages='3', flavor='stream'

[2018-10-16 10:38] vinayak-mehta opened #150 "Can't plot when no tables are found"
Which isn't correct behavior since plotting is a debugging option required to improve the detected table structure. Need to move `plot()` out of the `Table` class, planning to fix this with #127.

[2018-10-16 12:20] vinayak-mehta commented on #91
Regex sounds good, please open a PR, we can continue the discussion there! Do check out the contribution guidelines here https://camelot-py.readthedocs.io/en/master/dev/contributing.html#pull-requests.

[2018-10-16 16:12] KOLANICH opened #152 "Calling CLI tools may be insecure"
Calling CLI tools and passing them arguments via CLI may be insecure. API should be used and it seems that ghostscript has one and python bindings too.

[2018-10-16 16:50] KOLANICH commented on #152
The bindings are pure python (no compiled extension involved, ctypes are used).

But we have a problem. The bindings have no docs, and we wanna avoid creating any files doing everything in memory. So the API currently used is unsuitable.

[2018-10-17 01:45] eamanu commented on #143
Hello, I am working on the documentation of cli, I have a question, and I have a question. What is the command to write the input pdf file?

[2018-10-17 07:30] KOLANICH opened #153 "Use pathlib to treat paths as objects, not strings."
For python 2 a backport exists, though I haven't checked it.

[2018-10-17 09:27] KOLANICH opened #154 "Rename camelot.cli into camelot.__main__"
Otherwise `python -m camelot` doesn't work.

[2018-10-17 20:10] jonathanlloyd commented on #139
I'm happy to take a look at this :slightly_smiling_face:

[2018-10-18 04:17] Suleman-Elahi opened #156 "CLI on Windows 10 ???"
It's written that "PDF Table Extraction for Humans". But there is no example for how to use the cli version. I am a complete a newbie here and don't know how to use the CLI version. Any help will be appreciated !!!

Thanks

[2018-10-18 07:07] vinayak-mehta commented on #143
@eamanu Sorry for the late reply. What do you mean by "the command to write the input pdf file"?

[2018-10-18 07:08] vinayak-mehta commented on #153
@KOLANICH Would treating paths as objects and not strings offer any advantages?

[2018-10-18 07:10] vinayak-mehta commented on #154
@KOLANICH Thanks for reporting this!

[2018-10-18 07:16] vinayak-mehta commented on #152
Let's continue the discussion at #133, closing this.

[2018-10-18 07:35] vinayak-mehta commented on #156
@Suleman-Elahi #146 aims to solve it, please post any specific examples you'd like (as a comment on the PR).

Meanwhile you can use `camelot --help` to see all the available options. Here's a usage example: `camelot --output foo.csv --format csv lattice foo.pdf`.

[2018-10-18 07:35] #156 closed

[2018-10-18 07:36] vinayak-mehta commented on #145
@MinhduongUNO Closing this as it looks similar to #118. If you still face any problems, feel free to open another issue. Thanks!

[2018-10-18 07:36] #145 closed

[2018-10-18 07:38] vinayak-mehta commented on #152
On second thought, let me reopen this till we have a solution for the ghostscript problem.

[2018-10-18 09:06] vinayak-mehta commented on #147
Let me look into it this week.

[2018-10-18 17:50] KOLANICH commented on #153
Thank you for the question. I have checked if it resists injections and found that it doesn't.

[2018-10-18 17:50] #153 closed

[2018-10-18 21:15] eamanu commented on #143
Yes, I think that the cli need have a pdf input to extract the table. So, when I do `camelot --help` I dont have any option to put the pdf where camelot will extract the table

[2018-10-18 22:04] KOLANICH commented on #154
why not just fix that ?

[2018-10-19 01:32] vinayak-mehta commented on #154
I'm planning to look into all issues over the weekend, meanwhile adding these tags for anyone who may want to pick them up. :)

[2018-10-19 09:14] aakashdusane commented on #140
I'm facing the same issue. My gWin64c.exe seems to be working, although when I try opening it through cmdPromt I get "App can't run on your PC" Dialogue and "access denied" in cmd-line which is strange considering the .exe file works fine if accessed on its own.

[2018-10-19 09:48] mattmurray commented on #140
I had the same issue. I eventually got it working by adding "C:\Program Files\gs\gs9.25\bin" to my Path

[2018-10-19 10:01] vinayak-mehta commented on #140
@aakashdusane @mattmurray Did you check out this part of the install documentation? https://camelot-py.readthedocs.io/en/master/user/install.html#for-windows It says the ghostscript needs to be on the PATH.

I guess I should fix and merge #133 soon, which changes the ghostscript subprocess call to an API call.

[2018-10-19 10:16] aakashdusane commented on #140
It's is on my file path, that's why I'm perplexed. I haven't tried Matt's
solution yet, will update once I do.

On Fri 19 Oct, 2018, 3:31 PM Vinayak Mehta, <notifications@github.com>
wrote:

[2018-10-19 11:40] vinayak-mehta commented on #143
You can just use `camelot --output foo.csv --format csv lattice foo.pdf` as an example inside cli.rst and add a CLI example corressponding to each Python example inside quickstart.rst and advanced.rst.

You can specify an input PDF like this `Usage: camelot FLAVOR [OPTIONS] FILEPATH` where FLAVOR can be stream or lattice.

[2018-10-19 15:12] zischwartz opened #157 "Question: In the docs, where is the text plot mouseover widget coming from?"
In the [advanced docs](https://github.com/socialcopsdev/camelot/blob/master/docs/user/advanced.rst#text) in  the `plot("text")` example, there's a screenshot and a reference:

When I use `camelot` in a jupyter notebook, I'm not seeing that widget, just a normal plot. I don't recognize your dev environment from the screenshot. What are you using? Or am I missing something?

Thanks! Cool project!

[2018-10-19 18:43] RonaldTheodoro opened #158 "Is it possible read_pdf accept a file like object to be read?"
In some cases is necessary to parse a file already open as a example a pdf downloaded with requests.

[2018-10-20 08:17] yuyangyoung opened #161 "can not parse Chinese pdf document"
pdfminer.psparser.PSSyntaxError: Invalid dictionary construct: [/'Type', /'Font', /'Subtype', /'Type0', /'BaseFont', /b"b'", /"ABCDEE+\\xb7\\xc2\\xcb\\xce'", /'Encoding', /'Identity-H', /'DescendantFonts', <PDFObjRef:6>, /'ToUnicode', <PDFObjRef:12>]

[2018-10-20 12:53] heroic opened #162 "Cannot use on password protected files"
Most of the files that we have, have a password. PdfFileReader does support decrypting the file, but without an option to pass the password in read_pdf it cannot be done

[2018-10-20 15:12] topper-123 commented on #140
Alright, I've figured out what it was. It was/is two issues:

1:
The path issue that is being discussed above. I can fix this myself easily enough, though IMO the camleot error message should be made more specific to the issue of Ghostscript not being found....

2:
My system is 64-bit, but I downloaded the 32-bit version of GhostScript. My version of GhostScript isn't picked up, because the relava

[2018-10-21 20:15] Langdi commented on #161
You should probably include the document you were trying to parse. Worked fine for me on a Chinese pdf.

[2018-10-21 23:53] yuyangyoung opened #163 "I can't edit issue161, so I open the new issue and upload the Chinese pdf document I want to parse"
[W020180518365531252048.pdf](https://github.com/socialcopsdev/camelot/files/2499753/W020180518365531252048.pdf)
This is the file I want to parse
PdfReadWarning: Illegal character in Name Object [generic.py:489]
Traceback (most recent call last):
  File "D:\Python\Python36\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_code
    exec(code_obj, self.user_global_ns, self.user_n

[2018-10-21 23:56] yuyangyoung opened #164 "I can't edit issue 161. So I open the new issue and upload the Chinese pdf document I want to parse"
[W020180518365531252048.pdf](https://github.com/socialcopsdev/camelot/files/2499758/W020180518365531252048.pdf)

This is the file I want to parse
PdfReadWarning: Illegal character in Name Object [generic.py:489]
Traceback (most recent call last):
  File "D:\Python\Python36\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_code
    exec(code_obj, self.user_global_ns, self.user_

[2018-10-22 08:00] Suyash458 commented on #127
Does this still need work?

[2018-10-22 12:42] vinayak-mehta commented on #163
Looks like this was due to the GitHub outage, closing this, can see your comment on 161 now.

[2018-10-22 12:42] #163 closed

[2018-10-22 12:43] vinayak-mehta commented on #164
Looks like this was due to the GitHub outage, closing this, can see your comment on 161 now.

[2018-10-22 12:43] #164 closed

[2018-10-22 22:14] vinayak-mehta commented on #142
@enolette @aamnakhan Sorry for the late reply on this. I haven't been able to reproduce this issue. Can you tell me the error raised by `from camelot.core import TableList`?

[2018-10-22 22:28] vinayak-mehta commented on #149
Sorry for the late response on this and sorry again for a typo in the docs. The keyword argument to specify table areas is `table_area` and not `table_areas`. Though now that I think of it, `table_areas` sounds more right. I've fixed the docs.

Will change it to `table_areas` in a later release.

[2018-10-22 22:28] #149 closed

[2018-10-22 22:33] vinayak-mehta opened #165 "Rename the kwarg table_area to table_areas"
The latter sounds more apt since it is a list and there can be multiple table areas on a page.

[2018-10-22 22:33] vinayak-mehta commented on #165
@dggs123 You can pick this up if you want.

[2018-10-22 23:17] vinayak-mehta commented on #140
Thanks for the suggestion @topper-123, I've created a PR!

[2018-10-22 23:55] ralexx opened #167 "OpenCV linking problem using `conda install -c camelot-dev camelot-py`"
I get a `ModuleNotFoundError` when `camelot` tries to import `cv2`.

#### Edit
~~From Googling, I understand this is a recurring issue where installing camelot into a conda env does not also install `cv2.so`~~

~~Various suggestions are offering, including symlinking a homebrew installation of `opencv` into `myenv/lib/python3.6/site-packages/`, which seems very unstable.~~

~~Is there a more robus

[2018-10-23 00:34] vinayak-mehta commented on #162
@rbares Thanks for the detailed comment! I've faced issues with PyPDF2 decryption in the past (I remember the same problem of it not being able to support some encryption types). I've found `qpdf` for those cases. I see that PikePDF is based on qpdf, so I could look into it later. But having a password kwarg in read_pdf for PyPDF2's limited encryption support sounds like a good idea, till we move

[2018-10-23 00:38] vinayak-mehta commented on #127
@Suyash458 Yes!

[2018-10-23 00:41] vinayak-mehta commented on #158
@RonaldTheodoro Camelot should be able to read a PDF from a URL after #91 is solved.

Can you give me an example code snippet where you use requests to get a PDF into a file-like object? That will help me solve this better.

[2018-10-23 01:15] Suyash458 commented on #127
Had a look at https://github.com/socialcopsdev/camelot/issues/150 and https://github.com/socialcopsdev/camelot/issues/96. Since it's a debugging feature,  `plot()` can be moved from the `Table` class to the `plotting` module and I could add some tests against baseline images. The plots can be saved using `plt.savefig()` instead of displaying them

What do you think?

[2018-10-23 02:12] RonaldTheodoro commented on #158
https://gist.github.com/RonaldTheodoro/4262163301f9ab5ac866f07bc71eca35

When you download a pdf with requests the `response.content` is the binary content of pdf, at moment I have download the pdf save in disk then pass the filepath to `read_pdf`, I not sure but I think it is possible to pass the `response.content` to be parsed without save in the disk.

I haven seen the issue #91 before, I will

[2018-10-23 02:14] 15737939656 opened #168 "FileNotFoundError: [Errno 2] No such file or directory: 'gs': 'gs'"
hello, when I used this package,one error occurred,the error information is like this title, if you have time, pls help slove this problem, thank you very much.

[2018-10-23 09:04] vinayak-mehta commented on #168
Hello @15737939656! Please read the contributing guide for guidelines around submitting issues. Can you check if ghostscript is installed and available on PATH or not? https://camelot-py.readthedocs.io/en/master/user/install.html#for-ghostscript If it isn't, then you should install it using these instructions and the issue would be fixed! https://camelot-py.readthedocs.io/en/master/user/install.ht

[2018-10-23 09:04] #168 closed

[2018-10-23 09:14] vinayak-mehta commented on #167
@ralexx Thanks for the very detailed report and a workround! Would changing the priority of channels while adding one using conda install opencv from conda-forge and not defaults? Do you know if there's a way to specify a channel for a package in a conda recipe? Here's the recipe for Camelot: https://github.com/camelot-dev/camelot-conda-deploy/blob/master/camelot-py/meta.yaml I'll also look.

[2018-10-23 09:31] #154 closed

[2018-10-23 09:43] vinayak-mehta commented on #127
@Suyash458 What do you think we should use to do this, pytest or matplotlib's image_comparison? +1 on moving plot from `Table` class to the `plotting` module. We can call it `plot_pdf` and add an import to `__init__` so that it's available using `camelot.plot_pdf`. I think `plot_pdf` should have an option to save or show the plot based on a kwarg.

Yes, baseline image for testing each type of plot

[2018-10-23 09:55] vinayak-mehta commented on #158
Thanks for the gist @RonaldTheodoro! Currently, `read_pdf` expects a filepath. You can create a temporary file if you don't want to save the PDF locally using [tempfile](https://docs.python.org/2/library/tempfile.html).

I'll keep this in mind while solving for #91.

[2018-10-23 14:03] P3nny commented on #142
Hi,
I've got the same problem.
I first used a wrong install command ```pip install camelot```, it looked like it worked (It sucessfully updated some dependencies in the process). As I wanted to use it in a jupyter notebook ```import camelot``` worked, but ```tables = camelot.read_pdf('foo.pdf')``` said that there is no ```read_excel()``` in ```camelot```.

Then I started to read the directions giv

[2018-10-23 14:55] Suyash458 commented on #127
@vinayak-mehta [pytest-mpl](https://github.com/matplotlib/pytest-mpl) looks like the better option as it's more customizable. The tolerance, baseline directory and file name can be specified explicitly. There are options to generate the baseline images
(using `--mpl-generate-path=baseline`) and skip image comparison tests as well

A kwarg to save the plots optionally sounds good, I guess the filen

[2018-10-23 15:17] redapple opened #170 "Add possibility to pass additional PDFMiner parameters for get_page_layout()"
On some PDFs, PDFMiner has issues when `detect_vertical` is passed as `True` and hence the generation of rows is wrong, with some letters not following reading order.

On a local version of camelot-py, I'm getting better results by [forcing `detect_vertical=False` here.](https://github.com/socialcopsdev/camelot/blob/90aaba6eec4e12fe97ff2c876566c9832bf430c6/camelot/parsers/base.py#L13)

Would it be

[2018-10-23 15:21] IgorOliveira42 commented on #165
Can I look?

[2018-10-23 15:41] vinayak-mehta commented on #142
@P3nny Can you tell me if `from camelot.core import TableList` imports correctly or not? If not, can you comment the traceback here?

[2018-10-23 15:42] #140 closed

[2018-10-23 15:52] ralexx commented on #167
Thanks for pointing out the recipe @vinayak-mehta. AFAIK, channel specifications in Conda are set only on the client side.

There may be a better alternative, along the lines of what you suggested. It turns out I was mistaken in that the issue I linked to above fixed `anaconda::opencv, which is important here.

The source of my installation issues is most likely the use of Intel's Python distribut

[2018-10-23 15:54] ralexx commented on #167
Now to figure out how to coax camelot into reading the horrible, non-standardized, white-space delimited financial statements that are the norm in Hong Kong.

Thanks for open-sourcing this great library.

[2018-10-24 11:56] suraj1990 opened #172 "how to access the coordinates of the table cells"
I want to access the coordinates of the table cells like we get it in tabula. Is there any way to get these details?
{u'width': 44.12999725341797, u'top': 166.88, u'height': 10.020000457763672, u'text': u'suraj', u'left': 102.62}

[2018-10-24 16:27] gleporeNARA opened #173 "Command line works, coded example doesn't"
[foo.pdf](https://github.com/socialcopsdev/camelot/files/2511356/foo.pdf)

Parsing the attached file works properly on the command line, but using the code example, both as scripted and run in the interpreter, fails with <TableList n=0>.

I've been waiting for a couple of years for a solution like this keep up the good work!

[2018-10-24 16:39] gleporeNARA commented on #173
Aha, found flavor='stream'. Definitely something that should be better exposed in the documentation. Closing issue.

[2018-10-24 16:39] #173 closed

[2018-10-24 17:09] vinayak-mehta commented on #127
@Suyash458 pytest-mpl LGTM too. Yes, `plot_pdf` should have the same behavior that `plot` has right now, i.e. showing the plot directly while also giving the user an option to save it if a filename is specified.

[2018-10-24 17:12] vinayak-mehta commented on #170
Having an option to specify kwargs for PDFMiner sounds good. Can you show me the structure of one of these PDFs? Just curious.

[2018-10-24 17:14] vinayak-mehta commented on #165
@IgorOliveira42 Sorry for the late reply, @pqrth already submitted a PR. You can check out other "Level: Easy" issues.

[2018-10-24 17:14] vinayak-mehta commented on #165
@IgorOliveira42 Sorry for the late reply, @pqrth already submitted a PR. You can check out other issues tagged with "help wanted".

[2018-10-24 17:19] vinayak-mehta commented on #172
Hey @suraj1990, you can get cell coordinates using:

<pre>

</pre>

Hope that helps!

[2018-10-24 17:19] #172 closed

[2018-10-24 17:20] vinayak-mehta commented on #172
To access the text inside a cell, you can use `cell.text`.

[2018-10-24 17:36] #165 closed

[2018-10-24 20:09] Aubsoleet commented on #142
I did the exact same install order as @P3nny but I am using just the default python shell.  Here is my traceback from attempting `from camelot.core import TableList`
[code]

[2018-10-25 06:22] NirantK opened #174 "FileNotFoundError in Windows with Conda envs"
### tl;dr: Unable to use camelot probably because of subprocess call failure

Any assistance on possible ways to fix is appreciated. Muchos gracias in advance!

Installation Steps Followed:
- Create a new conda env
- `pip install camelot-py[all]`

Tried the `foo.pdf` which fails.

Other details:
- `conda==4.5.11`
- `Python=3.6.7`
- OS: Windows 10

### Traceback:

[code]

[2018-10-25 06:35] vinayak-mehta commented on #174
Hi @NirantK! Please check if you have ghostscript installed and the ghostscript executable is on the PATH environment variable. Here's a check you can do to make sure the conditions I mentioned are being satisfied: https://camelot-py.readthedocs.io/en/master/user/install.html#for-ghostscript

A previous issue on the same topic: https://github.com/socialcopsdev/camelot/issues/140#issuecomment-43130

[2018-10-25 06:35] #174 closed

[2018-10-25 06:38] NirantK commented on #174
Thanks, gotcha!

[2018-10-25 16:07] felipeacsi commented on #149
It works. Thank you!

[2018-10-25 22:39] LUSAQX opened #176 "FileNotFoundError: [WinError 2] The system cannot find the file specified"
I face this problem when call the function camelot.read_pdf() to parse my local pdf file. Could anyone please help?

Checked that the file path is correct.

[2018-10-26 07:10] vinayak-mehta commented on #176
@LUSAQX Can you please give more details? You can check the guidelines around submitting bug reports here: https://camelot-py.readthedocs.io/en/master/dev/contributing.html#bug-reports

[2018-10-26 09:07] redapple commented on #170
hi @vinayak-mehta ,
here's one example: https://www.chateaudemassillan.fr/_media/files/livre%20de%20cave%20juin%202018.pdf
with this simple stream parsing script on page 2
[code]

This is result with `detect_vertical=True` (camelot's default):
[code]
Line 1 for example appends the "L" after "es Blancs".

Compared to this output with `detect_vertical=False`:
[code]

[2018-10-26 09:19] redapple commented on #170
I've quickly looked at the underlying issue with letters in the wrong order in the cells in the example above.

I believe it's because the x-position is not taken into account when building text in cells (at least for my virtually all-horizontal data).
Especially [this line in `Stream._generate_table()`](https://github.com/socialcopsdev/camelot/blob/32df09ad1c434af871a70a070a045ce1f14c2b47/camelot

[2018-10-26 14:29] sstangl opened #178 "Crash on 100% RAW Powerlifting PDF"
Running Camelot (dev, 2830ed941808c8b514c5be74db1d840b45b26660) against the following PDF produces a crash after about two minutes of 100% CPU processing: https://rawpowerlifting.com/wp-content/uploads/2018/08/2018-Southern-Open-Results.pdf

The specific output is:
[code]

System information:
[code]

Would you be open to accepting a pull request for a regression suite with actual PDFs? Although th

[2018-10-27 04:07] LUSAQX commented on #176
Hi @vinayak-mehta,

Thank you for your reply.

Please see the details for bug reports as required:

**My runtime environment info**:
- Windows-10-10.0.14393-SP0
[Traceback.pdf](https://github.com/socialcopsdev/camelot/files/2521451/Traceback.pdf)

- Python 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]
- NumPy 1.14.2
- OpenCV 3.4.2
- Camelot 0.2.3

**The comple

[2018-10-28 07:07] Suyash458 commented on #127
Can't the contour plot be done with a Rectangle patch instead of `cv2.rectangle` ?

[2018-10-28 08:59] vinayak-mehta commented on #127
IIRC, I used `cv2.rectangle` because it drew a rectangle over the image, which I wasn't able to do with matplotlib patches at the time. Replacing cv2 with matplotlib would be great since it's an unnecessary dependency in plotting.

[2018-10-28 09:08] vinayak-mehta commented on #178
@sstangl This looks like a bug, let me look into this.

There's already a files directory inside the tests folder which contains PDFs for the unit tests. Why do you want to add a suite which downloads PDFs from internet archive, that would also increase test running times.

[2018-10-28 09:32] vinayak-mehta commented on #142
I just saw that @P3nny used `pip install camelot` to install the package initially. @Aubsoleet You said that you've used the "exact same install order".

[1] camelot and [2] camelot-py are separate packages on the Python package index. But when installed, both share the same name and import statement. I suspect you have both packages installed in your site packages under the same directory and tha

[2018-10-28 09:33] vinayak-mehta commented on #142
[1] https://pypi.org/project/Camelot/
[2] https://pypi.org/project/camelot-py/

[2018-10-28 09:38] Suyash458 commented on #127
As per [this](https://stackoverflow.com/questions/21445005/drawing-rectangle-with-border-only-in-matplotlib) answer, passing `fill=None` or `facecolor='none'` to `patches.Rectangle()` should render an unfilled rectangle over the image

[2018-10-28 10:11] vinayak-mehta commented on #127
Looks good, can you try using it in plot_contour?

[2018-10-28 11:56] Suyash458 commented on #127
The results are identical, I've updated #179

[2018-10-28 14:59] wanghaisheng commented on #101
for simple trick ,we can just use orcmypdf to convert image based pdf into a searchable pdf

[2018-10-28 17:30] sstangl commented on #178
For regression testing.

I work on a project that handles lots of PDF files, but Tabula fails to convert them properly. I wind up converting them by hand. Instead of throwing away that work, I would like to add the hand-converted data to a test suite, so that Camelot can learn to parse such files correctly and not regress.

All test runners support a cache layer -- these PDFs could be saved to tes

[2018-10-29 01:35] retsyo opened #181 "is it necessary to import cv2 and matplotlib?"
If we only need to get the table and feed it to pandas or database, is cv2 and matplotlib not necessary? Can camelot make cv2 and matplotlib to be optional dependency?

[2018-10-29 06:55] vinayak-mehta commented on #181
Hey @retsyo, this issue is similar to #96. cv2 would be removed and matplotlib would be an optional dependency in the near future, though the latter will happen first.

[2018-10-29 06:55] #181 closed

[2018-10-29 19:00] pecey commented on #90
Although it says that the project is under active design and development if you look closely, the last commit was made around 4 months ago, and that too was a grammatical error. The majority of the code hasn't been changed for around 2 years. I have seen Pipfile being used in numerous places already. I think we should move to Pipfile. Thoughts?

[2018-10-29 19:09] pecey commented on #91
We can also download the file in `tmp`. Then we would be able to reuse the `read_pdf` method in `io.py`. Cleanup shouldn't be much big of a task. In many systems, it is cleaned up pretty frequently, so unless someone is downloading huge files back-to-back, this shouldn't cause an issue.

[2018-10-30 14:08] vinayak-mehta commented on #178
Currently, Camelot cannot 'learn' to parse such files correctly, though I see how it can add value in testing.

Camelot uses Travis and I see that it has support to [cache directories](https://docs.travis-ci.com/user/caching). Like you said, we can add a caching stage inside the .travis.yml which downloads new files into the cache directory using a script. You can go ahead and create a PR for this

[2018-10-30 14:10] vinayak-mehta commented on #176
@LUSAQX You can install the latest release from PyPI using "pip install --upgrade camelot-py[all]". You should see an error if ghostscript is not installed. Please re-open this issue if you still face the same error.

[2018-10-30 14:10] #176 closed

[2018-10-30 14:16] vinayak-mehta commented on #142
@enolette @aamnakhan @P3nny @Aubsoleet Did you try the fix I mentioned above? If you still face the same error, please comment here, I'll re-open the issue.

[2018-10-30 14:16] #142 closed

[2018-10-30 14:21] vinayak-mehta commented on #101
A good test to check if ocrmypdf would work would be to convert all the PDFs used inside the tests to image-based PDFs, use ocrmypdf to convert those image-based PDFs to text-based ones and then run the tests. @wanghaisheng Would you like to look into this? Otherwise, I'll do this later.

[2018-10-30 17:10] anakin87 opened #182 "How to manage such table?"
I can't parse correctly tables like this.

[Copia di FI DIMENSIONE Multivalore Italia Mod  220384 Ed  05-2018-34-34.pdf](https://github.com/socialcopsdev/camelot/files/2530766/Copia.di.FI.DIMENSIONE.Multivalore.Italia.Mod.220384.Ed.05-2018-34-34.pdf)

I tried using **lattice** and got only two rows, like this:

On the contrary, **stream** captures the whole page and seems to not work well.

Do you

[2018-10-30 17:58] vinayak-mehta commented on #182
@anakin87 Thanks for the report! Till we have #102, you can [plot the 'text' geometry](https://camelot-py.readthedocs.io/en/master/user/advanced.html#plot-geometry) to get the table area and specify it to `read_pdf` to get the table out. Alternatively, you can use the CLI to plot the 'text' geometry:
<pre>
camelot stream -plot text copia.pdf
</pre>
Note the top-left and bottom-right coordinates of

[2018-10-30 17:58] #182 closed

[2018-10-30 18:40] vinayak-mehta opened #183 "Add pdfplumber comparison"
Add a comparison with [pdfplumber](https://github.com/jsvine/pdfplumber) to the [comparisons wiki page](https://github.com/socialcopsdev/camelot/wiki/Comparison-with-other-PDF-Table-Extraction-libraries-and-tools) using the same examples.

[2018-10-30 18:55] narsinha opened #184 "'Please make sure that Ghostscript is installed' error when it is already successfully installed"
Facing issue when tried to run following code:

Error:

Traceback (most recent call last):
  File "C:\Users\hp1\Anaconda2\envs\lib\site-packages\camelot\parsers\la
ttice.py", line 193, in get_executable
    raise ValueError
ValueError

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\hp1\A

[2018-10-30 19:41] vinayak-mehta commented on #184
@narsinha Thanks for the report! Are you running the Python interpreter from the cmd too? Can you check out the [guidelines](https://camelot-py.readthedocs.io/en/master/dev/contributing.html#bug-reports) around submitting bug reports and tell me the versions for everything using the code snippet provided there?

I am able to successfully run lattice on a PDF on Windows inside a conda environment (

[2018-10-30 20:35] vinayak-mehta commented on #102
Tabula has an implementation based on Anssi Nurminen's [master's thesis](https://dspace.cc.tut.fi/dpub/bitstream/handle/123456789/21520/Nurminen.pdf), starting from there.

[2018-10-30 20:42] vinayak-mehta opened #186 "Add public interface to access detected geometries"
The detected geometries can already be plotted, a public interface to access them would be useful too. Based on [#172](https://github.com/socialcopsdev/camelot/issues/172) and the need to auto-detect tables on [Excalibur](https://github.com/camelot-dev/excalibur), the web interface.

[2018-10-30 20:48] wanghaisheng commented on #183
thx

[2018-10-30 20:54] wanghaisheng commented on #101
@vinayak-mehta  definitely  i want to help with this ,i can set up a docker ocrmypdf environment and convert all files under https://github.com/socialcopsdev/camelot/tree/master/tests/files.
question
step 1. if we can transform these pdf files into text-based one
step 2. compare the text extract from text-based one with ground truth  text to know the reliability of the ocr engine used by ocrmypdf

[2018-10-30 21:06] vinayak-mehta commented on #101
@wanghaisheng You don't need to convert all the PDFs inside the tests/files folder to image-based ones, just the ones that are being used inside the Python tests.

1. You can probably use ghostscript/imagemagick to convert the PDFs into image-based ones at once.
2. Then convert all the new converted image-based PDFs into text-based ones using ocrmypdf at once.
3. Run the tests on the text-based PD

[2018-10-30 21:07] vinayak-mehta commented on #101
If the tests run correctly, we should update the README and docs to guide users to convert their image-based PDFs to text-based using ocrmypdf.

[2018-10-31 06:09] wanghaisheng commented on #101
the tests  you mean "test_common.py"?
@vinayak-mehta

[2018-10-31 07:38] vinayak-mehta commented on #101
All test_*.py files.

On Wed 31 Oct, 2018, 11:39 wanghaisheng, <notifications@github.com> wrote:

[2018-10-31 12:28] vinayak-mehta commented on #90
@pecey I haven't been able to look into Pipfile much. How would it affect the current installation and development workflow? I'll check it out today.

[2018-10-31 15:42] anakin87 opened #187 "Probable error in documentation"
In the documentation about [Specifying column separators](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-column-separators), table coordinates are

It seems that these coordinates don't have the shape 'top left and bottom right '.
Maybe I am wrong, but, trying to understand various Camelot coordinate systems, this indication got me confused...

[2018-10-31 16:06] vinayak-mehta commented on #187
You're right, they should be of the form top-left and bottom-right with the origin on the bottom-left, thanks for pointing it out! Would you like to open a PR to correct this example?

[2018-11-02 17:50] vinayak-mehta commented on #127
Closed in #179.

[2018-11-02 17:50] #127 closed

[2018-11-02 17:51] vinayak-mehta commented on #96
matplotlib is now an optional requirement!

[2018-11-02 19:36] #187 closed

[2018-11-03 07:56] aborruso opened #192 "Problem with "carriage return" inside a cell"
Hi,
first of all thank you for this great tool.

I have a PDF with come "carriage return" inside cells ([I'm attaching it](https://github.com/socialcopsdev/camelot/files/2544723/input.pdf)).

![image](https://user-images.githubusercontent.com/30607/47949539-4816ee80-df45-11e8-8750-0a7b84a33fdb.png)

If I run `camelot -f csv -o output.csv lattice input.pdf` the cells output does not have any "carri

[2018-11-03 20:03] #186 closed

[2018-11-03 20:14] vinayak-mehta commented on #186
Closed this for now, we can think of an interface if users demand it. Till then, everything can be accessed through instance attributes.

[2018-11-03 20:16] vinayak-mehta commented on #192
Hey @aborruso, thanks for the report. Currently, each text line is stripped off newlines before assigning it to a cell, which can be undesired behavior in cases such as above. I'm labeling current behavior as a bug since everything should be extracted from a PDF **as is**. Expect a fix soon!

[2018-11-04 09:02] aborruso opened #194 "Cell content duplication"
Hi,
in [this complex PDF](https://github.com/socialcopsdev/camelot/files/2545656/output.pdf), for one record, I have cell content duplication (in the first cell two times "80" and so on).

![image](https://user-images.githubusercontent.com/30607/47961686-0bfc9000-e010-11e8-89b7-0d76d8b6a6de.png)

It could be interesting as use case to solve.

Thank you

[2018-11-06 11:51] anakin87 opened #195 "Error in documentation for plot"
The following command written in documentation is not working:

It should be replaced with:

which is working.

[2018-11-06 13:48] #195 closed

[2018-11-06 13:49] vinayak-mehta commented on #195
Thanks for the catch @anakin87.

[2018-11-06 13:50] vinayak-mehta commented on #150
This was fixed in #179.

[2018-11-06 13:50] #150 closed

[2018-11-06 13:52] vinayak-mehta commented on #194
Looks similar to #103. Thanks for the report!

[2018-11-07 07:10] wanghaisheng opened #197 "dev environment setup"
in the doc
[code]
you guys miss
[code]
and it cause
[code]

[2018-11-07 08:07] wanghaisheng commented on #101
step1:setup ocrmypdf
[code]
step 2:
batch process test files script using ocrmypdf docker container
[code]
step3:

[2018-11-07 08:28] vinayak-mehta commented on #197
I tested this by installing Camelot using `pip install "camelot-py[dev]"` in a virtual environment locally and it works. `pytest-mpl` is listed in the `dev` extra in `setup.py` so it should work theoretically.

[2018-11-07 08:28] #197 closed

[2018-11-08 08:30] abhibisht89 opened #199 "Query on headers not getting extracted with table."
I am not able to tag my question to "python-camelot" on stackoverflow. So posting here the link.

Please have a look at my query posted on stackoverflow.

https://stackoverflow.com/questions/53203779/headers-are-not-getting-extracted-from-pdf-while-extracting-the-table-data-from

[2018-11-09 16:29] ag2816 commented on #142
I was also running into the same error and the following instructions resolved it for me:

$ pip uninstall camelot
$ pip uninstall camelot-py
$ pip install camelot-py[all]

[2018-11-09 16:55] vinayak-mehta commented on #199
Thanks for pointing this out, I've found some bugs and added a workaround as an answer on the SO question.

[2018-11-09 17:00] vinayak-mehta opened #200 "Full table area not being detected"
**Link to PDF**: https://stackoverflow.com/questions/53203779/headers-are-not-getting-extracted-from-pdf-while-extracting-the-table-data-from

**Steps to reproduce**: `camelot -p 3 lattice -plot contour 007.pdf`

![image](https://user-images.githubusercontent.com/4329421/48276619-6feae280-e46e-11e8-834a-6c06f7eee3d9.png)

[2018-11-09 17:01] vinayak-mehta opened #201 "Lines not being included in user specified table area"
**Link to PDF**: https://stackoverflow.com/questions/53203779/headers-are-not-getting-extracted-from-pdf-while-extracting-the-table-data-from

**Steps to reproduce**: `camelot -p 3 lattice -T 60,770,520,400 -plot grid 007.pdf`

![image](https://user-images.githubusercontent.com/4329421/48276740-c22c0380-e46e-11e8-849a-0dd53214d7a7.png)

[2018-11-09 17:02] vinayak-mehta commented on #199
I've opened #200 and #201, let me look into the fixes for these and create a patch release.

[2018-11-09 17:02] #199 closed

[2018-11-09 18:53] vinayak-mehta commented on #91
Leaving this here to check out later. https://stackoverflow.com/questions/22800100/parsing-a-pdf-via-url-with-python-using-pdfminer

[2018-11-10 14:19] abhibisht89 commented on #199
Thanks

[2018-11-13 10:41] ogroleg opened #202 "Missing dependency"
Tried to install Camelot on almost fresh Ubuntu.
Got:

Please add all libraries you are using to dependencies.

[2018-11-13 10:49] ogroleg opened #203 "Missing two tables in pdf: example"
http://staff.univ.kiev.ua/ShtatRozp/ShR0029.pdf

[2018-11-13 10:57] #203 closed

[2018-11-13 17:00] RonaldTheodoro opened #204 "Add option to disable some logs"
During the parse some logs show too many details that pollute, I think would be a good idea add a option to ignore this logs and show only the page being parsed at moment.

[2018-11-13 17:01] vinayak-mehta commented on #202
Hey @ogroleg, as the README and the installation instructions in the docs say, you have to install Camelot using `pip install camelot-py[cv]`.

[2018-11-13 17:01] #202 closed

[2018-11-13 17:30] vinayak-mehta commented on #204
Adding a `--verbose` flag sounds good.

[2018-11-15 19:10] andmalc commented on #167
FYI: camelot installed with pip will also fail to run with a cv2 import error.  The dependency package to install is "opencv-python".

[2018-11-15 19:18] vinayak-mehta commented on #167
@andmalc When using pip, you need to install Camelot using `pip install camelot-py[cv]` as mentioned in the README and installation docs.

[2018-11-15 19:38] andmalc commented on #167
@vinayak-mehta Thank you for your response.  I see the README has this instruction but I was reading from the installation page with the title "Installation of Camelot".  It states "First, you’ll need to install the dependencies, which include Tkinter and ghostscript." which does imply there are other dependencies but these are not mentioned elsewhere on this page.   I suggest that this paragraph

[2018-11-17 03:49] Eichee opened #205 "Error in encoding type"
PdfReadWarning: Illegal character in Name Object [generic.py:489]
Invalid dictionary construct: [/'Type', /'Font', /'Subtype', /'Type0', /'BaseFont', /b"b'", /"ABCDEE+\\xcb\\xce\\xcc\\xe5'", /'Encoding', /'Identity-H', /'DescendantFonts', <PDFObjRef:6>, /'ToUnicode', <PDFObjRef:12>]

I cannot read my pdf file because of the warning above.  I can read the text using another library named 'pdfminer'

[2018-11-17 10:53] narsinha commented on #184
@vinayak-mehta Not able to replicate the issue. May be after restarting it has gone. You can close this issue.
BTW, i'm trying to use this library to convert few PDF tables to csv and facing issue for some of them, will collate and post in the required format.

[2018-11-17 14:32] Eichee commented on #161
I have met the same problem. And I want to know if you have already solved it. Thanks!

[2018-11-17 15:54] vinayak-mehta commented on #167
@andmalc No worries. I'll move the "checks" part in the "Using pip" section to its own page, since one sees the `pip install` command very late into that section, so I get how its easy to miss.

[2018-11-17 15:55] vinayak-mehta commented on #161
@Eichee If you face the same error as the @yuyangyoung faced, you can apply the fix I've mentioned in the comment above to see if it fixes the error.

[2018-11-17 15:56] vinayak-mehta commented on #184
Awesome, you can open a separate issue for that.

[2018-11-17 15:56] #184 closed

[2018-11-17 15:58] vinayak-mehta commented on #205
@Eichee Can you see if the fix mentioned in this comment https://github.com/socialcopsdev/camelot/issues/161#issuecomment-432012809 solves your issue? It would be helpful to debug this if you can post a link to the PDF document here.

[2018-11-17 16:00] yuyangyoung commented on #161
@vinayak-mehta  thank you for fixing the error zhat way. But another pdf is the same error, So everytime I want to get the table, I must fix the pdf. So all Chinese pdf is wrong?

[2018-11-17 16:03] vinayak-mehta commented on #161
It does not mean that all Chinese PDFs are wrong. Are all your PDFs from the same source? It probably is an error in the way the PDFs are being generated at the source. If you already have all your PDFs in a directory with you, you can fix all of them at once using the fix mentioned above and some unix wildcard magic.

[2018-11-17 16:07] yuyangyoung commented on #161
@vinayak-mehta thanks, all are from the same source, Chinese SEC, but I can easily get the table by pdfplumber. So if you can change something?

[2018-11-17 22:19] vinayak-mehta commented on #161
Oh, does pdfplumber not raise the same error? (Since both camelot and pdfplumber use pdfminer internally)

I'll take a look.

[2018-11-18 06:45] Eichee commented on #161
@vinayak-mehta  I have fixed all of my PDFs and then there is no error in extracting table. Wonderful!!

[2018-11-18 18:10] yuyangyoung commented on #161
@vinayak-mehta ，yes, pdfplumber won't raise the same error, and the result is better than the pdf repaired then parsed by camelot

[2018-11-22 09:51] imri commented on #102
Hi there, thanks for this library! :)

Regarding table detection algorithms - I know that Tabula uses Nurminen's algorithm, but I was wondering - is it the best algorithm that's out there? Do you guys know of any other / better ones?

Thanks a lot - you guys rock!

[2018-11-22 12:00] vinayak-mehta commented on #102
Hey @imri!

There has been a lot of research on detecting and extracting tables from PDFs. All the approaches I've seen are heuristics and no single one gives a 100% table detection accuracy. [pdf2table](http://ieg.ifs.tuwien.ac.at/projects/pdf2table/) is where I started some time back and followed on the citations and links from there.

I've seen Tabula and Nurminen's algorithm work really well o

[2018-11-23 14:34] vinayak-mehta commented on #183
Reminder to update existing comparisons after merging #206.

[2018-11-23 16:05] #102 closed

[2018-11-23 16:39] vinayak-mehta opened #207 "Add a plot type for Stream text edges and detected table areas"

[2018-11-24 16:15] imri commented on #102
Thanks for you reply.

Weird, because when I use it on the simplest document I have, it's not working well.
As far as I'm concerned, Nurminen's algorithm is part of Tabula's Autodetect Tables feature. When using it on this document: ![document_800_1](https://user-images.githubusercontent.com/1307391/48970384-3c828900-f014-11e8-8578-024a3f4bc0ce.png)

It resulted the following:
<img width="848" alt

[2018-11-24 17:19] vinayak-mehta commented on #102
Nurminen's master's thesis states that after calculating left, middle and right text edges (which are vertical lines that pass through similarly aligned text), each text row is assigned a probability of being part of a table. The comment here [NurminenDetectionAlgorithm.java#L237](https://github.com/tabulapdf/tabula-java/blob/master/src/main/java/technology/tabula/detectors/NurminenDetectionAlgori

[2018-11-25 08:39] imri commented on #102
Interesting.
Is it possible to detect (and extract) tables using both Stream and Lattice together?

When you say that lattice should work perfectly - I sort of wish to create a generic way to detect and extract tables without having to know which detection method (lattice / stream) is best for a given document - I want to decouple them as much as possible.

Imri

[2018-11-28 11:06] asifkhan69 opened #208 "While use import 'camelot' in python 3.6 error ImportError: cannot import name 'PDFObjectNotFound'"
I am using python 3.6.5 and installed all dependancies for camelot and installed camelot by using 'pip install camelot-py[cv] as mentioned in the document. When I installed it was working and next day when I start using camelot in my script. It was giving error when I used 'import camelot'
'/pdfdocument.py", line 26, in <module>
    from .pdftypes import PDFObjectNotFound
ImportError: cannot impor

[2018-11-28 18:21] anakin87 opened #209 "Make camelot search for tables in certain page regions"
I'm trying to automatically detect and extract tables encapsulated in other tables.

I would want to make camelot search in certain area:
this is not table area but the area where the table resides (see the attached image).
![cattura](https://user-images.githubusercontent.com/44616784/49172986-c13a1380-f342-11e8-965c-eb45bd18c680.JPG)

How I can make Camelot work in this way?
Ideas for the develop

[2018-12-01 01:00] vinayak-mehta commented on #209
Hi @anakin87! You can specify table areas in `read_pdf` using the `table_areas` kwarg. For more information on usage, check out the [docs](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas). Please comment if you face any problems.

[2018-12-01 01:15] vinayak-mehta opened #210 "ModuleNotFoundError after fresh install"
`chardet` (a dependency for `pdfminer.six`) isn't installed in Python>3 when installing Camelot using `pip install camelot-py[cv]`, which seems a bit strange since the build was successful on master 5 days ago. Will trigger a new build to check. The issue was first seen [here](https://github.com/camelot-dev/excalibur/issues/26).

Thinking of creating a release with chardet in the requirements, as

[2018-12-01 01:18] vinayak-mehta commented on #208
I'm not able to reproduce this issue on Python 3.6.6 with Camelot 0.4.0. Instead I get #210.

[2018-12-01 01:40] vinayak-mehta commented on #102
I get your use-case and it is not possible currently through the library itself. But I see two possibilities which can be implemented (both heuristics):

1. As far as I could tell from [NurminenDetectionAlgorithm.java](https://github.com/tabulapdf/tabula-java/blob/master/src/main/java/technology/tabula/detectors/NurminenDetectionAlgorithm.java), Tabula first filters out all Lattice-type tables fro

[2018-12-01 01:43] vinayak-mehta opened #211 "Automatically choose flavor based on type of table in PDF"
Continuing the conversation from #102.

imri:

vinayak-mehta:

[2018-12-01 01:43] vinayak-mehta commented on #102
@imri Let's continue the conversation on the issue I just opened.

[2018-12-01 12:30] vinayak-mehta commented on #205
Closing this for now. @Eichee If you still face the same problem, please reopen it.

[2018-12-01 12:30] #205 closed

[2018-12-01 12:33] #104 closed

[2018-12-02 11:58] orent opened #212 "Suggested feature: SQLite file format"
The SQLite 3 format is one of the dataset formats recommended by the Library of Congress as a digital preservation format:

https://www.loc.gov/preservation/digital/formats/fdd/fdd000461.shtml

Unlike CSV, it can represent multiple tables in a single file. It is also a useful engine for performing basic cleanup and postprocessing tasks without having to first import the data into another tool.

[2018-12-02 20:34] vinayak-mehta commented on #42
Closing this as the new Stream table detection with calculating mode of each text row to generate column boundaries should solve this.

[2018-12-02 20:34] #42 closed

[2018-12-02 23:14] vinayak-mehta opened #213 "Account for x-position when assigning text to cell"
More info in #170

[2018-12-02 23:21] vinayak-mehta opened #214 "Create debian package"

[2018-12-03 08:33] amdhacks opened #215 "Question: Why is position of first character of input row changed to last character of the same line in output table?"
Will share input file shortly. Unable to share from restricted network at this moment.

[2018-12-03 11:37] anakin87 commented on #209
If I provide table_areas, Camelot interprets them as specific table coordinates.

My problem is that I want to search for tables in a specific area of the page, but I don't know specific table coordinates. How to cope with this problem?

[2018-12-03 23:22] ambarbour opened #216 "table_areas not parsed correctly by stream parser"
Per the documentation the **table_areas** parameter is a list of rectangle descriptors in the form of 'x1,y1,x2,y2'.

The **stream** parser **table_bbox** dictionary is keyed by a tuple of this rectangle but when it is populated it uses the key (x1,y2,x2,y1) which does not match the input.  This causes the text locators to find no text and results in an exception in **_text_bbox()**.

I think **st

[2018-12-04 01:16] abhibisht89 commented on #215
i am also having the same issue related to first character position.

[2018-12-04 05:10] vinayak-mehta commented on #215
Hi @amdhacks and @abhibisht89! Thanks for the report, this is a known issue (more details here #170 and here #213). You can expect a fix by the end of this week. Till then, you can try the workaround mentioned in #170, by finding the path where camelot is installed and passing `detect_vertical=False` in [base.py](https://github.com/socialcopsdev/camelot/blob/90aaba6eec4e12fe97ff2c876566c9832bf430c

[2018-12-04 05:13] vinayak-mehta commented on #216
Did you try with (x1,y1) as top left and (x2,y2) as bottom right? (as mentioned in the documentation [here](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas)).

[2018-12-04 05:18] vinayak-mehta commented on #209
I get the issue now. Camelot treats the passed table areas as actual boundaries of the table. This can be an enhancement where the user can pass a `table_region` so that camelot only processes the text and lines inside the region to form a table. Reopening this.

[2018-12-04 11:10] ambarbour commented on #216
Yes that is what I am trying to do.

If you look at the code for **Stream._generate_table_bbox()** I am pretty sure it is just a typo in the tuple for the **table_bbox** dict, as I suggested above.

[2018-12-04 16:15] amdhacks commented on #215
My base.py file after the change given below:

[code]
But I do not see any improvement. First character is still shown as last character of the same row in output.

Am I missing something?

[2018-12-04 19:30] vinayak-mehta commented on #216
Would it be possible to post the PDF you're trying to extract the tables from with the table area tuple you're using as input?

The code is supposed to convert the top left and bottom right coordinates (the way you'd select the table on an interface like [Excalibur](https://github.com/camelot-dev/excalibur)) into bottom left and top right (pdfminer coordinate space), which is being done on L283 wi

[2018-12-04 23:01] rvalyi opened #217 "core.py set_edges IndexError: list index out of range"
Hello. First thanks for this terrific library, I get much better results than with Tabula, and this will be quite decisive to implement the open source Brazilian localization of the Odoo ERP (in the OCA foundation).

But when extracting pages 200 to 210 from this pdf (Brazilian fiscal stuff) http://sped.rfb.gov.br/arquivo/download/2322 using the latest Github version (rev 7bdd9a315609d695b17a4c9f3

[2018-12-04 23:50] ambarbour commented on #216
Unfortunately I cannot provide the PDF.

I wondered about the deliberate inversion of the coordinates but it was unclear from the comments and worked better when I switched to top left / bottom right.  It also works pretty well if I don't provide a **table_areas** parameter, but I am trying to force it to recognize some additional rows above.

I am now thinking the problem is the list of pdfminer

[2018-12-05 08:46] #216 closed

[2018-12-05 12:45] vinayak-mehta commented on #216
You can try plotting the generated table using `$ camelot stream -plot grid` to see if tables are being generated properly or not. By the end of this week, you'll be able to plot table boundaries that were found on the page too, I'll ping here when that happens.

[2018-12-05 12:48] vinayak-mehta commented on #217
@rvalyi Thanks for the report! Let me also try to reproduce the error.

[2018-12-05 14:39] vinayak-mehta commented on #210
More details can be found in [pdfminer#213](https://github.com/pdfminer/pdfminer.six/issues/213).

[2018-12-05 15:30] #210 closed

[2018-12-05 23:26] Jackblackpearl opened #219 "Plot area to mention the top"
When I using the  table_areas=['316,499,566,337']) as mentioned here I was able to extract the content what I need but the cell was merged and there were some additional columns due to whitespace. then I decided to use the column parameter as shown below

tables = camelot.read_pdf("Journal.pdf", flavor ='stream', pages = '3', columns =['40,140,230,311,424,520,598,657,711'])

Now there is no issue

[2018-12-05 23:37] vinayak-mehta commented on #219
@Jackblackpearl You can use both `table_areas` and `columns` together to do this.

[2018-12-06 00:07] Jackblackpearl commented on #219
Thanks for the immediate reply. While doing this I'm getting below error message.

ValueError: Length of table_areas and columns should be equal

My code looks like below
tables = camelot.read_pdf("Journa.pdf", flavor ='stream', pages = '1',table_areas=['40,510,711,10'] , columns =['40,140,230,311,424,520,598,657,711']);

Can you please help me on this.

[2018-12-06 00:32] #219 closed, assigned to nobody

[2018-12-06 23:32] WHumphreys opened #220 "Install Doesnt work"
Ive attemted to install this on a clean (vm) install of both Windows 10 and Ubuntu and it simply doesnt work. Ive tried this both with Conda and manually. It errors all over the place. I think if you want to go forward with this you need to stop and go try a simple install on both of these systems using your own instructions. As to errors there are so many different ones connected to different tri

[2018-12-07 00:36] vinayak-mehta commented on #220
@WHumphreys Sorry that you had to face a lot of errors while installation. I can try to reproduce those errors on both Windows 10 and Ubuntu if you can give me the exact conda version and the exact steps that you followed to install the package. Note: The build status for the conda package is "passing" on Windows, Linux, and macOS. https://github.com/conda-forge/camelot-py-feedstock#current-build-

[2018-12-07 12:04] vinayak-mehta commented on #217
@rvalyi Can you also share the code that produced this error? I tried `camelot --format csv --output legendado.csv -p 200-210 lattice legendado.pdf` and it worked without any errors.

[2018-12-07 15:20] WHumphreys commented on #220
I have trashed the vms now but all I did was simple follow your instructions.

Ignoring the Windows install.

https://camelot-py.readthedocs.io/en/master/user/install.html#using-conda

VMware Workstation.

Latest Version of Ubuntu. x64

sudo apt update and upgrade dist etc etc

Install latest Anaconda from site Anaconda3-5.3.1-Linux-x86_64.sh

conda install -c conda-forge camelot-py

Gets about 3/

[2018-12-07 15:21] #217 closed

[2018-12-07 16:40] rvalyi commented on #217
indeed I used the line_size_scaling=80 option in the Python API. Thanks for the fix, I will test again soon.

I also have other tables where Camelot produce no such stacktrace but introduce line breaks and blank cells. I can live by implementing heuristics later in my code, but are you interested in such new bug reports?

[2018-12-07 17:18] vinayak-mehta commented on #220
@WHumphreys I was able to successfully install the conda package with the instructions specified in the README. I'm on Windows 10 and using the latest Anaconda distribution 5.3.1. Created a Python 3.5 environment before running the following command. Here's the output:

<pre>
(camelot-env) C:\Users\vinayak>conda install -c conda-forge camelot-py
Solving environment: |
Warning: 2 possible package r

[2018-12-07 17:19] vinayak-mehta commented on #220
Also tried installing in a Python 3.7 environment, but conda downgraded the Python version to 3.6.6. The install was successful though.

[2018-12-07 17:22] vinayak-mehta commented on #220
These are the steps I followed:

1. Download the latest Python 3.7 Anaconda installer for Windows from here: https://www.anaconda.com/download/
2. Install Anaconda and open the Anaconda prompt.
3. `conda create -n camelot-env python=3.5`
4. `conda install -c conda-forge camelot-py`

Please try these steps and let me know if you face any errors.

[2018-12-07 17:22] #220 closed

[2018-12-07 17:34] WHumphreys commented on #220
Ill give it a try this weekend and get back to you :-)

[2018-12-07 17:37] vinayak-mehta commented on #217
Thanks for reporting the issue!

Yes, please report other issues that you've experienced. I'm fixing an issue that introduces line breaks for v0.5.0, along with some other text-to-cell assignment behaviors. You can check https://github.com/socialcopsdev/camelot/milestone/3 for the complete list. Please check that you have a bug that isn't present in the list or in the issue tracker.

[2018-12-09 11:52] vedantnarayan opened #222 "Error while installing Camelot"
I am getting an error that " ImportError: The 'packaging.specifiers' package is required; normally this is bundled with this package so if you get this warning, consult the packager of your distribution." Kindly Help.
![camelot error](https://user-images.githubusercontent.com/20201688/49696912-f19d6f80-fbd6-11e8-804f-3eb82264f564.PNG)

[2018-12-10 07:56] vinayak-mehta commented on #222
You probably need to update the version of setuptools and pip. You also need to follow the install instructions in the README and use `pip install camelot-py[cv]`.

[2018-12-10 07:56] #222 closed

[2018-12-11 15:39] vinayak-mehta commented on #183
Check this [wiki page](https://github.com/socialcopsdev/camelot/wiki/Comparison-with-other-PDF-Table-Extraction-libraries-and-tools) for pdfplumber comparison.

[2018-12-11 15:39] #183 closed

[2018-12-11 17:24] anakin87 opened #223 "Negative accuracy"
[FI Dimensione Investimento Aziende Mod. 220233 Ed. 05-2018.pdf](https://github.com/socialcopsdev/camelot/files/2668583/FI.Dimensione.Investimento.Aziende.Mod.220233.Ed.05-2018.pdf)

I extracted the tables from this file with this syntax:
`tables=camelot.read_pdf(filename, pages='5',flavor='lattice',line_size_scaling=65,copy_text=['h','v'])`

`tables[3].parsing_report`
shows me the following stats

[2018-12-11 18:45] vinayak-mehta commented on #223
Thanks for the report, I'll look into this.

[2018-12-11 20:45] vinayak-mehta commented on #213
Closing since #215 and #170 both have enough information on this.

[2018-12-11 20:45] #213 closed

[2018-12-12 05:04] #204 closed

[2018-12-12 05:05] vinayak-mehta commented on #204
@RonaldTheodoro You can use `suppress_stdout=True` or `--quiet` to suppress all logs and warnings.

[2018-12-12 11:41] RonaldTheodoro commented on #204
Thanks and keep going with the project.

[2018-12-12 15:55] anakin87 opened #226 "AssertionError from pdfminer"
[Fascicolo Informativo_Vivendo_Elite.pdf](https://github.com/socialcopsdev/camelot/files/2672516/Fascicolo.Informativo_Vivendo_Elite.pdf)

I'm trying to extract tables from the pdf with the following syntax:
tables=camelot.read_pdf(filename,pages='1-end',line_size_scaling=65)`

I get the following error:
[code]

[2018-12-13 06:24] mikeatm opened #228 "Handling tables with no horizontal separators"
I have pdf's with no row separator, and im unable to  find a strategy for this with camelot, does it have an
option for choosing  single lines/line of text as a row?  i cant find such an option.

[2018-12-13 07:55] vinayak-mehta commented on #141
@ZainRizvi Can you extract the table from [this](https://github.com/tabulapdf/tabula-java/blob/master/src/test/resources/technology/tabula/arabic.pdf) PDF and tell me if the output is correct or not? From some visual pattern matching, I can tell that the text is extracted in the correct right-to-left reading order.

Camelot uses text lines computed by PDFMiner and assigns them to specific cells. E

[2018-12-13 07:57] vinayak-mehta commented on #141
Also, I added a test for the PDF mentioned in the comment above. Strangely, when I see [this](https://github.com/socialcopsdev/camelot/pull/227/files#diff-3a5bca63172d501b965f48fc687ed4e9R489) list in the terminal, it looks fine, but the order is messed up when viewing in VS Code or Github.

[2018-12-13 08:24] vinayak-mehta opened #229 "Add option to strip given characters from strings"
<pre>
tables = camelot.read_pdf('foo.pdf', strip='\n')
</pre>

[2018-12-13 08:26] vinayak-mehta opened #230 "Add option to modify tolerance used to extend textedges"
Can only be used with `flavor='stream'`, can name it `edge_close_tol`.

[2018-12-13 08:33] vinayak-mehta commented on #226
Thanks for the report. I couldn't find something similar on the pdfminer and pdfminer.six repos. Can you try extracting from specific pages to narrow it down? I'll look into this in some time.

[2018-12-13 08:58] anakin87 commented on #226
It occurs for various pages but not for all.

For example, it occurs for page 6, where there are some tables.

[2018-12-13 10:59] #105 closed

[2018-12-13 10:59] #192 closed

[2018-12-13 10:59] #215 closed

[2018-12-13 11:01] vinayak-mehta commented on #192
@aborruso This is fixed on master now. After #229, this will be more configurable.

[2018-12-13 11:03] vinayak-mehta commented on #215
@amdhacks This is fixed now. It will be more configurable after #170.

[2018-12-13 14:52] vedantnarayan opened #231 "UnicodeEncodeError: 'latin-1' codec can't encode characters in position 8-9: ordinal not in range(256)"
While reading the pdf in japanese language. I am getting the following error.

Note - it worked for earlier pdfs in japanese language.

<pre>
Traceback (most recent call last):
  File "<ipython-input-8-d96b310115cb>", line 14, in <module>
    tables = camelot.read_pdf(filename,pages='1-end')
  File "C:\Users\hp\Anaconda3\lib\site-packages\camelot\io.py", line 101, in read_pdf
    tables = p.parse(

[2018-12-13 15:06] vedantnarayan commented on #231
[140120181126441404.pdf](https://github.com/socialcopsdev/camelot/files/2676537/140120181126441404.pdf)

I have uploaded the pdf I am working with.

[2018-12-14 06:31] amdhacks commented on #215
@vinayak-mehta, I have updated  camelot version to 0.4.1 but first character which was showing as last earlier is now appearing as a single character in first column like below:
Output now:
C	lass A
N	et Asset Value at 31 December	5,111,372
N	umber of outstanding units at 31 December	49,136
N	et Asset Value per unit at 31 December	104.03
C	lass B
N	et Asset Value at 31 December	49,144,825
N	umber

[2018-12-14 07:12] vinayak-mehta commented on #215
@amdhacks Please install the latest version i.e. v0.5.0. The table isn't being detected correctly for this case. You'll need to [specify a table area](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas).

<pre>
$ camelot --format csv --output output.csv stream -T 70,690,550,170 input.pdf
</pre>

[2018-12-18 15:20] vinayak-mehta opened #233 "Add parameter to change ghostscript resolution"

[2018-12-19 13:15] #170 closed

[2018-12-19 13:20] vinayak-mehta commented on #170
@redapple You can now pass PDFMiner LAParam kwargs using `layout_kwargs` in `read_pdf()`. Check out this section of the docs for more details: https://camelot-py.readthedocs.io/en/master/user/advanced.html#tweak-layout-generation

[2018-12-21 11:26] #229 closed, assigned to nobody

[2018-12-21 11:28] #230 closed, assigned to nobody

[2018-12-21 12:53] Jackblackpearl opened #235 "Page Count"
Is it possible to get the Page count in Camelot? We required to remove the last page of the pdf always.

We do have two tables in all the pages. but we required to extract two tables in 1st page of pdf alone for rest of the pdf page we do require to extract only one table in the pdf.

We tried by defining the table area but not working.

[2018-12-22 05:35] vinayak-mehta commented on #235
@Jackblackpearl Can you upload the PDF and the code you used to do this? Seeing the PDF would help me understand the problem better.

[2018-12-24 07:59] #91 closed

[2018-12-24 08:02] vinayak-mehta commented on #64
https://stackoverflow.com/questions/31876415/parsing-a-pdfdevanagari-script-using-pdfminer-gives-incorrect-output

[2018-12-24 10:01] vinayak-mehta commented on #194
I printed all text objects that pdfminer returns and this text object occurs two times in that list, not sure why. Looks like a known issue [pdfminer#225](https://github.com/euske/pdfminer/issues/225) with no existing fix.

We could either try finding why pdfminer does this or fix this within camelot by checking for duplicate text objects (based on the bounding box and the actual string). There ne

[2018-12-24 10:15] vinayak-mehta commented on #231
@vedantnarayan Looks like there's some problem with the PDF. I fixed it using `qpdf` and was able to extract tables.

<pre>
$ qpdf --decrypt 140120181126441404.pdf fixed.pdf
</pre>

[2018-12-24 10:15] #231 closed

[2018-12-24 10:43] vinayak-mehta commented on #235
`tables[i].parsing_report` where `i >= 0` should give you the page number (`page`) and table number (`order`) using which you can discard the first table.

[2018-12-26 18:10] Shivi1982 commented on #142
Still face the same issue. Have installed camelot again using the commands mentioned above but does not show camelot. readpdf() syntax.

[2018-12-27 06:54] vinayak-mehta commented on #142
@Shivi1982 Can you tell me the contents of the path where camelot is installed? You can find it out by first finding the path to your site packages with `$ python -m site` and then `$ ls <SITE_PACKAGES_PATH>/camelot`. Replace `SITE_PACKAGES_PATH` with path to your site packages.

Alternatively, I would recommend installing in a new virtual environment, if you're using those.

[2018-12-27 10:35] Shivi1982 commented on #142
Hi Vinayak,
Checked as below: Please suggest:
sys.path = [
    'C:\\WINDOWS\\system32',
    'C:\\Users\\51613014\\AppData\\Local\\Continuum\\anaconda3\\python36.zip',
    'C:\\Users\\51613014\\AppData\\Local\\Continuum\\anaconda3\\DLLs',
    'C:\\Users\\51613014\\AppData\\Local\\Continuum\\anaconda3\\lib',
    'C:\\Users\\51613014\\AppData\\Local\\Continuum\\anaconda3',
    'C:\\Users\\51613014\\A

[2018-12-27 10:53] vinayak-mehta commented on #142
One of the paths in that list will contain the camelot folder, most probably `C:\Users\51613014\AppData\Local\Continuum\anaconda3\lib\site-packages`. If the camelot folder does not contain the following items, you will not be able to use `camelot.read_pdf`.
<pre>
__init__.py  __main__.py  __pycache__  __version__.py  cli.py  core.py  handlers.py  image_processing.py  io.py  parsers  plotting.py  u

[2018-12-28 07:30] vinayak-mehta commented on #147
@odedsh stream will work on this now. I'm getting `<Table shape=(11, 4)>` with the latest version.

[2018-12-29 06:51] Jackblackpearl commented on #235
Thank you Vinyak. Working fine.
Any plans to include OCR functionality with this package???

[2018-12-29 07:36] vinayak-mehta commented on #235
Some time in the future, do you have any ideas around it? Do comment on #101.

[2018-12-29 07:36] #235 closed

[2018-12-31 06:12] ashhack commented on #148
I am getting the same error. For some pdfs it is working fine but fails in some pdfs.

[2019-01-01 01:04] davidkong0987 opened #237 "Documentation - what [0,0,0,0]refers to"
I believe it means 72*in measured from the opposite edge. Is that obvious?
Starting with the left edge.

[2019-01-02 07:59] kento1109 opened #238 "No tables found on page"
I want to extract DXA Results Summary table from PDF like this.

[Sample_Dexa_Report.pdf](https://github.com/socialcopsdev/camelot/files/2720134/Sample_Dexa_Report.pdf)

But, I cannot handle it..(Camelot warn that no tables found on page)

I tried both lattice and stream mode. But I cannot do well.
How to extract table from this PDF ??

[2019-01-02 10:02] vinayak-mehta commented on #237
@davidkong0987 I don't understand what you're trying to say.

[2019-01-02 10:05] vinayak-mehta commented on #238
@kento1109 As mentioned in the README: "Camelot only works with text-based PDFs and not scanned documents. If you can click and drag to select text in your table in a PDF viewer, then your PDF is text-based."

Aside from being an image, the document you've attached is rotated. You can fix the rotation and try using OCR to extract data from this document.

[2019-01-02 10:05] #238 closed

[2019-01-02 10:43] vinayak-mehta commented on #147
@odedsh For lattice, the multiple colors in lines don't matter as long as they are in the foreground. To get the table out, some parameters need to be tweaked with some visual debugging. Since the initial output wasn't very clean with lattice, I plotted the lines found on the page.

<pre>
$ camelot lattice -plot line bugExample.pdf
</pre>

![image](https://user-images.githubusercontent.com/4329421

[2019-01-02 10:43] #147 closed

[2019-01-02 11:17] kento1109 commented on #238
Thank you for the quick replay!
I noticed this pdf is based on the image when parsing by pdfminer.

First of all, I tried OCR to transform image to text data.

[2019-01-02 11:46] vinayak-mehta commented on #90
Don't see an urgent need for Pipfile, so closing.

[2019-01-02 11:46] #90 closed

[2019-01-02 11:47] vinayak-mehta opened #239 "Raise a warning if PDF is image based"
Should be helpful in cases like #238.

[2019-01-02 12:40] odedsh commented on #147
I will try these out. Thanks!

On Wed, Jan 2, 2019, 12:43 PM Vinayak Mehta <notifications@github.com wrote:

[2019-01-02 19:14] vinayak-mehta commented on #211
Needs more discussion, removing from this release.

[2019-01-02 19:16] vinayak-mehta commented on #228
@mikeatm Closing this due to no activity.

[2019-01-02 19:16] #228 closed

[2019-01-03 11:01] #239 closed

[2019-01-03 12:20] anakin87 commented on #209
[PIR_Prospetto dOfferta.pdf](https://github.com/socialcopsdev/camelot/files/2723653/PIR_Prospetto.dOfferta.pdf)

I would want to search for tables in a certain region of the page, in the order to extract only **true** tables and not tables that are elements of layout.

[2019-01-03 13:46] vinayak-mehta commented on #209
@anakin87 Thanks for reporting this issue, the current `table_areas` kwarg for Lattice hardcodes the coordinates of the table boundary leading to unwanted text with the extracted table and making the user note the exact coordinates while debugging visually. Which should not be the case, `table_areas` should just guide camelot to analyze only that part of the page to find tables using Lattice and S

[2019-01-04 10:17] vinayak-mehta commented on #209
Hmm, I guess keeping them separate makes sense since a table region could contain two or more table areas too.

[2019-01-04 11:43] pksingh210 opened #242 "Unable to extract tables using Camelot from page 1 and 2 of the attached pdf statement of the bank"

[2019-01-04 11:44] pksingh210 commented on #242
[edited_CBASavings.pdf](https://github.com/socialcopsdev/camelot/files/2726821/edited_CBASavings.pdf)
same issues with many other bank statements..

[2019-01-04 11:51] vinayak-mehta commented on #242
@pksingh210 Can you also post the code that you used for extraction? Regarding the expected output, do you want the top right table and the main table from pages 1 and 2?

[2019-01-04 11:59] pksingh210 commented on #242
We need main transaction table not anything else..  Code I use is below:

import camelot
PDFfile= 'CBASavings.pdf'
tables = camelot.read_pdf(PDFfile, flavor='stream')
tables[1].export('output.csv', f='csv')
tables[1]

[2019-01-04 12:03] pksingh210 commented on #242
tables.export('output.csv', f='csv')
tables[0]

above code is responding

[2019-01-04 12:12] pksingh210 commented on #242
but does not take table from page 2

[2019-01-04 12:12] pksingh210 commented on #242
I will send a couple of more de-identified files where camelot does not work..

[2019-01-04 16:30] #209 closed

[2019-01-04 16:33] vinayak-mehta commented on #209
@anakin87 Check out the [docs](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-regions) for usage details.

[2019-01-04 17:06] anakin87 commented on #209
Great!!!

[2019-01-04 20:38] #212 closed

[2019-01-05 06:45] #152 closed

[2019-01-05 07:56] vinayak-mehta commented on #237
@davidkong0987 Please re-open this if your problem wasn't solved.

[2019-01-05 07:56] #237 closed

[2019-01-05 08:02] vinayak-mehta commented on #242
You need to pass the page number to `read_pdf` with the `pages` kwarg in order to process the page numbers you want tables from. In this case, you can do:

<pre>

</pre>

If you didn't get the desired table out, you could try [specifying a table area](https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-areas) or a [table region](https://camelot-py.readthedocs.io/en/master/

[2019-01-05 08:02] #242 closed

[2019-01-05 12:31] fengyuxl commented on #142
I  create a new conda environment and install camelot again,Still the same issue.

[2019-01-05 22:39] pksingh210 commented on #242
Hi Vinayak,

Three issues with the output:
1. Column of the tables get mixed up please see table below
![image](https://user-images.githubusercontent.com/46044010/50729934-968b7800-1196-11e9-9bc2-e0b8bbdec90e.png)

you can see column have content of column two in some rows

2. Pages='all' or Pages = "1-2" creates problem like below:
![image](https://user-images.githubusercontent.com/46044010/50729

[2019-01-08 06:37] kallol-oto opened #245 "Not able to read multiple pages using pages='1,2,3' or pages='all'"
When I am reading a pdf filw with multiple pages, I am only getting first page by default.

When I am using this code read_pdf(sample.pdf, pages='1-2') or read_pdf(sample.pdf, pages='all') or read_pdf(sample.pdf, pages='1,2') I am getting following error.

AttributeError: 'PDFHandler' object has no attribute 'password'

Can you please fix this issue

[2019-01-08 08:42] vinayak-mehta commented on #245
@kallol-oto Thanks for reporting, looking into it.

[2019-01-08 08:42] vinayak-mehta commented on #242
Looks like 2. is caused by a bug #245, looking into it.

[2019-01-08 08:45] vinayak-mehta commented on #242
1. You can define column separators explicitly, and [split text](https://camelot-py.readthedocs.io/en/master/user/advanced.html#split-text-along-separators) along them.
3. You can read the extracted data (CSVs or pandas dataframes), clean it and combine them into a single dataset by writing your own logic, in the programming language of your choice.

[2019-01-08 10:13] ntota opened #246 "The File was produced by PyPDF2"
I have uploaded a pdf by using command line interface, camelot responded as below

2019-01-08T15:33:04 - INFO - Processing page-1
   **** The file was produced by:
   **** >>>> PyPDF2 <<<<
Found 0 tables

Also Camelot extracted tables from only foo.pdf, I tried with other text based pdfs but camelot unable to extract tables, it shows 0 tables found.

[2019-01-08 11:06] vinayak-mehta commented on #246
Can you post a link to the file so that I can reproduce this bug?

[2019-01-08 19:59] davidkong0987 commented on #237
Sorry for the late reply. My original question was incomprehensible, and I have fixed it.

The answer  I found in the pdf documentation but not the website - "List of table area strings of the form x1,y1,x2,y2 where (x1, y1) -> left-top and (x2, y2) -> right-bottom in PDF coordinate space." I suppose it is implied that the coordinate space uses the bottom left corner as (0,0) and is measured in un

[2019-01-08 20:05] davidkong0987 opened #247 "Ability to recognize headings"
I was wondering if there is a way for Camelot to recognize when there is a heading. A few ways this can be done is recognizing when a font size (or even font style!) is different and tagging it (which the software seems to be able to do, at least for super/subscripts), or by putting in empty rows in the table output so that the spacing of the original document is preserved.

[2019-01-09 05:13] pksingh210 opened #248 "Unable to get table from the attached bank statement of ANZ Bank"
Hi,

Please find attached statement, I am unable to get table in tabular format. The code I am using  is below:
import camelot
filePath= 'ANZSavings.pdf'
OutFile = 'output.csv'
tables = camelot.read_pdf(filePath, flavor='stream', pages='all', split_text=True)
tables.export(OutFile, f='csv')

[edited_ANZSavings.pdf](https://github.com/socialcopsdev/camelot/files/2739429/edited_ANZSavings.pdf)

Outp

[2019-01-09 05:19] pksingh210 commented on #242
1. Issue is solved well for this bank statement..
2. Can you suggest any code in Python which can combine these output files. I am new in python programming, not able to understand how I can open all produced files as it is not known in advance how many output files are getting generated. It will vary from statements to statements. My program should process more than one bank statements at a time.

[2019-01-09 08:44] vinayak-mehta commented on #237
Yes. I think we can make it more explicit by adding a note to the docs: the [how-it-works](https://camelot-py.readthedocs.io/en/master/user/how-it-works.html) and [advanced](https://camelot-py.readthedocs.io/en/master/user/advanced.html#visual-debugging) subsections that deal with specifying coordinates. Would you like to open a PR?

I'm not sure about that, camelot uses [pdfminer](https://github.

[2019-01-09 10:47] pksingh210 commented on #248
Not sure why each column is appearing in different line in one cell. Not getting comma separated. Tabula is able to separate but rejects rows which have multiple line in a cell.. This a copy from the excel. Bellow all columns are appearing in single column..:

Cheque   Account     xxxxxxxxx    $61,472.40     $61,472.40
--
Processed
Processed     Description     Debit     Credit     Balance
09/07/2

[2019-01-09 11:05] vinayak-mehta commented on #248
I'm able to get an output with `$ camelot --format csv --output pramod.csv -split stream -C 111,374,430,484 pramod-csv.pdf` which is equivalent to your Python code with `columns=['111,374,430,484']`.

Yes, this is the best output you can get with both camelot and tabula since there are no lines which can help the libraries detect separate cells. You'll have to write custom code to merge different

[2019-01-09 11:13] vinayak-mehta commented on #247
Since table headers would mostly remain the same for same type of tables in a PDF, you can add a post-extraction step where you can remove them by explicitly specifying them in your code.

This would be a nice feature to have but I'm afraid the font size/style implementation would be highly heuristical and won't be able to generalize over a large of different table types. Maybe there are better wa

[2019-01-09 14:09] skywalker087 opened #249 "The lattice output changed after the latest update. Now detects 2 tables rather than 3 as before."
[sample-tables.pdf](https://github.com/socialcopsdev/camelot/files/2741173/sample-tables.pdf)

[2019-01-09 14:10] skywalker087 commented on #249
The first or top table is not getting detected now.

[2019-01-09 14:57] davidkong0987 commented on #247
Got it

I understand that there would need to be a post-extraction step, but perhaps that can be aided by something that shows when the font size and/or line spacing is different than say the mode, similar to what is done with subscripts/superscripts.

Sent via Superhuman ( https://sprh.mn/?vip=davidxmkong@gmail.com )

On Wed, Jan 09, 2019 at 6:13 AM, Vinayak Mehta < notifications@github.com > wro

[2019-01-09 15:38] vinayak-mehta commented on #249
@skywalker087 You can modify the `line_scale` as [shown here](https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines) to detect shorter lines. The first table isn't being detected due to shorter lines. I tried with `line_scale=40` and it worked.

The only thing that changed with 0.7.0 was the resolution used to convert PDF to image for processing (from 600 to 300) to red

[2019-01-09 17:12] vinayak-mehta commented on #245
@kallol-oto Which version are you using? I'm able to extract tables using both `pages='1-2'` and `pages='all'`. I can reproduce the bug if you can post a link to the PDF you're using.

[2019-01-10 12:42] kallol-oto commented on #245
@vinayak-mehta  I am using python 3 in jupyter notebook. I installed this package using pip3 install camelot-py.
I am reading bank statement of hdfc bank
[hdfc.pdf](https://github.com/socialcopsdev/camelot/files/2745304/hdfc.pdf)

[2019-01-10 14:33] vinayak-mehta commented on #245
@kallol-oto Thanks for the info, I was able to reproduce the error, created a PR.

[2019-01-10 14:43] skywalker087 commented on #249
Thank you for your help. Now i am clear on my issue.

[2019-01-10 14:48] vinayak-mehta commented on #249
Awesome, can you close it? I don't have to privileges to do it right now.

[2019-01-10 14:53] skywalker087 commented on #249
Surely.

[2019-01-10 14:54] #249 closed

[2019-01-10 23:17] pksingh210 commented on #248
Thanks Vinayak, its working well on this file. But the issue is that the parameter set for one type of file does not work on other file. For four types of PDF statements I have I need to provide three separate parameters set for processing them. I am trying to develop a generic tool which read any statement and extract transactional tables. The input files will be picked up by software from a fold

[2019-01-11 01:54] pksingh210 commented on #248
Following code does work of combining and producing single file of output:

i=0
dfList = []
for i in range(len(tables)):
    dfList.append(tables[i].df)
    i=i+1

concaDf = pandas.concat(dfList, axis=0)
concaDf.to_csv(OutFile, index=None)

[2019-01-11 12:03] kallol-oto commented on #245
@vinayak-mehta  Thanks, Let me know when it moves to production

[2019-01-13 18:22] davidkong0987 opened #252 "Missing space between words"
It seems like when the program is confused whether or not to create a new column, it sometimes enters a "\n", and sometimes it creates no space at all, and just joins the words together. It's particularly odd because the space between the words is actually larger than a normal space. Have you seen this problem before? If not I can try to create a PDF that has this problem.

[2019-01-13 18:38] vinayak-mehta commented on #252
Can you give an example to help me understand better? Maybe you can play with this parameter to remove the newline character every time: https://camelot-py.readthedocs.io/en/master/user/advanced.html#strip-characters-from-text

Camelot uses the text generated using pdfminer.

[2019-01-13 23:43] davidjhall opened #253 "read_pdf fails with an index out of range."
Trying to read this [pdf of a swim schedule.](https://westporty.org/wp-content/uploads/2019/01/10-Lane-Lap-Pool-Schedule-Jan-2-thru-June-16-2019.pdf) and get an index out of range error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "[...]\AppData\Local\Programs\Python\Python36-32\lib\site-packages\camelot\io.py", line 91, in read_pdf
    tables = p.parse(flavor=

[2019-01-14 09:59] kallol-oto opened #254 "This package modifying numpy, which doesn't let pandas to import"
Hi,

I have installed this package using pip3 install camelot-py. The installation was successful.

Now when I am importing pandas, I am getting error because the numpy is being modified by the installation of camelot.

The error is this:

AttributeError                            Traceback (most recent call last)
<ipython-input-3-38d4b0363d82> in <module>()
----> 1 import pandas

/home/oto/.local

[2019-01-15 05:28] Prady96 opened #255 "camelot.read_pdf is merging columns of the PDF Page"
I am trying to read a page from a PDF have tried all the options as per stated in your documentation and your website the two columns are getting merged.
I have linked the **Input PDF Link in here :**
[INPUT PDF PAGE](https://drive.google.com/file/d/0B0BtJTGfLEAHUWd2WmZXaGVrbElZYkFWQmFGa1RzN2lGeVFB/view?usp=sharing)

and also added link for the **output of the csv File** :
[OUTPUT CSV PAGE](https:

[2019-01-15 08:09] Prady96 commented on #255
This was an encrypted PDF we ran 'ocrmypdf' to make mask layer on it and then we parsed this with camelot..
If you require should i post the original PDF also?

[2019-01-15 08:12] Prady96 commented on #255
Here is the link for the original PDF
[ORIGINAL PDF](https://drive.google.com/file/d/1_ExlXSVTRX3cX9SNMdorxYMR7cx2Yi1h/view?usp=sharing)
we were trying to parse Page num 4 of this PDF..
Hope it helps

[2019-01-15 11:27] jababanik opened #256 "Installation error - modifying numpy which throws this error ev"
Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'C:\\Users\\tci1\\AppData\\Local\\Temp\\pip-uninstall-u38wmxba\\users\\tci1\\anaconda3\\lib\\site-packages\\numpy\\core\\multiarray.cp37-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

![capture](https://user-images.githubusercontent.com/13976710/51177765-900fa580-18e6-11e9-842c-9a5e6

[2019-01-17 02:39] vedantnarayan opened #258 "camelot doesnot give any tables from pdf while tabula gives result for same pdf"
Hi, I am unable to get tables from this simple pdf. I guess this may be the bug or may be I am doing something wrong.
[Monthly_2018_10.pdf](https://github.com/socialcopsdev/camelot/files/2766941/Monthly_2018_10.pdf)

[2019-01-17 14:18] skywalker087 opened #259 "camelot with flavor stream detects a lot of text as tables."
I was using camelot version 0.7.1 with python 3.6 on the pdf that i have attached with this issue and the result came out with a lot of tables but the majority of them consisted only of text from the pdf. I hope i am not doing anything wrong, if i am, please correct me.

[file.pdf](https://github.com/socialcopsdev/camelot/files/2769041/file.pdf)

[2019-01-17 14:28] chiragob opened #260 "Multiple table from single page"
i am trying to extract pdf which have multiple table on single page but camelot only extract one table.
is there any way to extract multiple table on single page. i attached pdf file.

[2.pdf](https://github.com/socialcopsdev/camelot/files/2769069/2.pdf)

import camelot
tables = camelot.read_pdf('2.pdf',flavor='lattice')
print(tables[0].parsing_report)
print(len(tables))

please help

[2019-01-18 03:45] pablobarria opened #261 "Specify Table Areas AND Columns with Stream command"
With the command line interface I can do the following:
`camelot -f json -o "file.json" stream -T 0,560,608,40 -r 10 -C 0,45,75,100,290,445 "file.pdf"`

Yet when I try to pass both `table_areas` and `columns` kwargs to camelot.read_pdf with the stream flavor it fails with the error:

No matter the amount of columns I input.

Is this a bug or am I doing something wrong? I tried to do it with `table

[2019-01-18 04:19] vedantnarayan opened #262 "error with ghost script 32 bit :-access violation writing 0x0CEBB7B0"
Hi,

Earlier I was using Python 3.7 and gs64winc and everything was working fine. I had to change the interpretor to Pyton 3.5 32 bit for comaptibility issues with external app UiPath. After this I got an error "Make sure that ghostscript is installed". I uninstalled 64 bit ghost script and reinstalled 32 bit ghost script and changed the path in Environment variables accordingly. But now I am gett

[2019-01-18 08:13] anakin87 commented on #261
`tables=camelot.read_pdf('file.pdf',flavor='stream',table_areas=["0,560,608,40"],columns=["0,45,75,100,290,445"])`

With this syntax, it works.
Both table_areas and columns must be defined as lists of strings, with the same length.

[2019-01-18 08:17] anakin87 commented on #260
Try this:
`tables=camelot.read_pdf('2.pdf',line_scale=80)`

The larger the line_scale, the smaller the size of lines getting detected

[2019-01-18 13:34] pablobarria commented on #261
...the one thing I didn't try. Thanks!

[2019-01-18 13:34] #261 closed

[2019-01-18 13:51] chiragob commented on #260
thanks @anakin87

[2019-01-18 13:54] #260 closed

[2019-01-18 14:03] vedantnarayan commented on #258
@anakin87 Thank you.

[2019-01-18 14:03] #258 closed

[2019-01-21 06:05] pksingh210 opened #263 "Unable to get same format of result from two bank statements of the same bank"
Hi Vinayak,
I am trying to process bank statement to get transaction tables. I use CBA bank statement of two users.
1. edited-CBASavings.pdf
2. edited-CBASavings-S.pdf

edited-CBASavings.pdf  is processed properly with the following code:

tables = camelot.read_pdf(filePath, flavor='stream',  split_text=True)

But other bank statement edited-CBASavings-S produces bad result with mixing of two colu

[2019-01-22 05:16] qq470647251 commented on #262
@vedantnarayan

[2019-01-22 07:13] vinayak-mehta commented on #245
@kallol-oto This has been fixed in v0.7.2.

[2019-01-22 07:15] vinayak-mehta commented on #259
@skywalker087 I don't understand your issue. Can you pin point to the page numbers you're trying to extract tables from and also post the code that you used to do that?

[2019-01-22 07:16] vinayak-mehta commented on #261
@anakin87 Thanks for pointing it out!

[2019-01-22 07:17] vinayak-mehta commented on #260
@anakin87 Thanks for pointing it out!

[2019-01-22 07:17] vinayak-mehta commented on #258
@anakin87 Thanks for pointing it out!

[2019-01-24 17:00] qq470647251 commented on #262
change flavor on stream can fix it

[2019-01-26 01:00] pksingh210 commented on #263
Hi Vinayak,

Not all bank PDF follow same structure. Even bank statement of same bank with different accounts have different structure. But challenge I am getting is that the structure of same bank and same account bank statement of one customer is processed well but does not stand same for other customer.

Multiple pages of some bank statement is taken in processing but not for other bank stateme

[2019-01-26 01:30] pksingh210 commented on #263
What technique/tool you apply to get x coordinates of columns in PDF tables..

[2019-01-26 10:33] vinayak-mehta commented on #263
Columns are guessed based on these [methods](https://camelot-py.readthedocs.io/en/master/user/how-it-works.html).

[2019-01-29 06:05] suhailhail opened #264 "python - when I use camelot for the pdf extraction I am unable to get the co-ordinates. the pdf is unable to read."

[2019-01-29 08:21] AkeedAFarees opened #265 "Camelot not reading text written in PDF-1.6"
I am using Camelot to extract attributes from a PDF form. There are several forms and all the forms with format PDF-1.6 or 1.7 are not being extracted. PDF-1.3 and 1.4 works fine.

[2019-01-29 09:09] anakin87 commented on #265
Which attributes are you using?
Can you post the output?

[2019-01-29 09:13] AkeedAFarees commented on #265
Currently, I have a script that is extracting individual attributes from specific areas as shown below.
The attributes are then dumped in a JSON file. That file is empty when running PDF-1.6s and is populated when running PDF-1.4s

![image](https://user-images.githubusercontent.com/32507529/51897131-d7f6f800-23cf-11e9-811f-62b0cd5f59ba.png)

[2019-01-29 15:21] asmiy opened #266 "camelot transforms multiple lines into seperated rows"
When I try to extract table from pdf, camelot transforms rows with multiple lines to multiple rows.
The pdf file :
[8.pdf](https://github.com/socialcopsdev/camelot/files/2808314/8.pdf)

I'm using stream as flavor and table_areas to detect the table.

[2019-01-29 15:47] asmiy opened #267 "camelot merges pdf's columns"
Using read_pdf to extract tables from the pdf : [8.pdf](https://github.com/socialcopsdev/camelot/files/2808406/8.pdf), I got merged columns.

I use flavor='stream', table_areas =['..']. I tried column_tol ... but no difference.
Could you help to fix this issue?

[2019-01-30 08:05] anakin87 commented on #267
You can specify columns coordinates, using columns:
https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-column-separators
https://camelot-py.readthedocs.io/en/master/user/advanced.html#split-text-along-separators

[2019-01-30 10:08] vinayak-mehta commented on #265
@AkeedAFarees Adding to what @anakin87 said, can you refer the contributor's guide [1] and provide us with relevant details mentioned there?

[1] https://camelot-py.readthedocs.io/en/master/dev/contributing.html#filing-issues

[2019-01-30 10:11] vinayak-mehta commented on #266
@asmiy Yes, this is the expected behavior for the Stream flavor. It doesn't take into account any lines that may separate table rows, and forms rows based on how the text is organized to form a table, leading to different text rows being treated as different table rows.

[2019-01-30 10:12] vinayak-mehta commented on #267
@asmiy Can you close this issue if the docs mentioned by @anakin87 solved your problem?

[2019-01-30 10:14] vinayak-mehta commented on #264
@suhailhail Can you give more details based on contribution guidelines? [1]

[1] https://camelot-py.readthedocs.io/en/master/dev/contributing.html#filing-issues

[2019-01-30 10:18] vinayak-mehta commented on #256
@jababanik Did you try using the `--user` option as suggested by the error message? I don't face this issue when installing in a base conda environment. Please check if your user has the required permissions to write to the directory mentioned in the error.

[2019-01-30 10:32] vinayak-mehta commented on #255
@Prady96 The table in this PDF doesn't have a very clean table structure. One of the larger lines that goes through the whole table doesn't touch the top-most line and one of the header line has a different x-coordinate from the larger one that goes through the whole table. I was able to use a `line_scale=40` (see [line_scale](https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-s

[2019-01-30 10:42] vinayak-mehta commented on #253
@davidjhall By default, the `lattice` flavor is used which looks for lines to form a table. This doesn't look like a pure `lattice` table to me since there are multiple rows of text in each cell. The `stream` flavor would be work better for this case.

That being said, I didn't get the error you mentioned on running the following command using the CLI (equivalent to your code):

<pre>
$ camelot --

[2019-01-30 11:00] anakin87 commented on #255
@vinayak-mehta : Have you ever tried to use OCRMyPDF? Does it work well with Camelot?

[2019-01-30 11:12] vinayak-mehta commented on #255
No, I haven't tried it. Looking at the output @Prady96 posted, seems like ocrmypdf doesn't work very accurately. I can see some decimal points being missed in numbers present in the last two columns.

[2019-01-30 11:31] asmiy commented on #266
@vinayak-mehta is there any option so it can take into account table lines?

[2019-01-30 11:38] vinayak-mehta commented on #266
Currently, there isn't. You can add a post-extraction step where you merge two rows together if the second row contains a string only in the first column, as seen here.

Please close this if your issue was solved.

[2019-01-30 14:10] Prady96 commented on #255
Thanks for your reply @vinayak-mehta

I will try this one.

As i found data inside the pdf was encrypted i was not able to take out values from table therefore i used "ocrmypdf" just for extraction for data points.

I tried all the visual debugging and things that at the end worked out was

`tables = camelot.read_pdf('page4_yourfile_OCRMYPDF.pdf', flavor='stream', edge_tol=100)
camelot.plot(tables

[2019-01-30 15:08] Prady96 commented on #255
Thanks for you support!

This fixes #255

[2019-01-30 15:38] Prady96 commented on #101
Hi,

'ocrmypdf' does not work every-time, but you can make it work for some cases by adding this piece of code.

By parsing through this code some tables which were encrypted and lines that were not getting parsed were made parsable.

1. Convert the pdf page into image using ghostscript/imagemagick

2. After which run this script.
[code]

3. Now a new image is formed having 'Blue lines' in it. Now

[2019-01-31 11:04] asmiy opened #268 "Camelot unable to detect last column"
For this pdf [329.pdf](https://github.com/socialcopsdev/camelot/files/2816832/329.pdf), I'm trying to extract the table using flavor = 'stream', and specifying both table and columns coordinates, but can't detect the whole table.

Could you help?

[2019-01-31 11:09] vinayak-mehta commented on #268
@asmiy Can you also post the code that you used where you specified table areas and columns?

[2019-01-31 11:12] asmiy commented on #268
@vinayak-mehta
[code]

[2019-01-31 12:17] anakin87 commented on #268
Try with:
`tables=camelot.read_pdf("329.pdf",flavor='stream',table_areas=['71,730,580,400'])`

[2019-01-31 12:57] asmiy commented on #268
@anakin87 it's working!
Question : how do you get the coordinates?
For me, I have top left point and the size of table (knowing that the top left point of the pdf is (0,0) ), that I convert to the get the coordinates required by camelot.

[2019-01-31 13:17] vinayak-mehta commented on #268
@asmiy You can get the required top-left and bottom-right table area coordinates by [plotting the text](https://camelot-py.readthedocs.io/en/master/user/advanced.html#text).

Camelot and pdfminer treat the bottom-left point as origin.

Thanks for the fix @anakin87! @asmiy If that solved your problem, please close this issue.

[2019-02-03 13:23] joselquin opened #269 "Use of cores in camelot"
When I use camelot for large PDFs, it uses only one job of the processor. Is there a way to use more cores? Something like "n_jobs" in "sklearn"?

[2019-02-04 03:38] outsiderJiumao commented on #161
it seems that PyPDF2 cannot deal with chinese characters by now, and camelot extract one page from pdf using PyPDF2. I guess maybe that is the reason..

[2019-02-04 11:51] skywalker087 commented on #259
i have used the code as :
tables = camelot.read_pdf('./file.pdf', pages = 'all', split_text = True)
tables[1].df
# now this table shouldn't even be there.
# Did i code wrong somewhere?

[2019-02-05 10:46] skywalker087 commented on #259
The table which I am worried about comes from page 2 and I have used the code as :

import platform; print(platform.platform())
import sys; print('Python', sys.version)
import numpy; print('NumPy', numpy.__version__)
import cv2; print('OpenCV', cv2.__version__)
import camelot; print('Camelot', camelot.__version__)
tables = camelot.read_pdf('./file.pdf', pages = 'all', flavor = 'stream', split_text

[2019-02-06 05:35] aperna1 opened #270 "Table placed in a single row"
I'm trying to return the contents inside the table in each page (the table in this case is the whatever is in the rectangle in the bottom third of each page). The script seems to recognize the table and the content inside properly, but reproduces the table in one row rather than breaking it up into multiple rows and columns. Is there a way to reproduce the table as it is in the pdf, rather than in

[2019-02-06 08:00] anakin87 commented on #270
Try with:
`tables=camelot.read_pdf("02012018.pdf",flavor='stream',table_areas=['150,425,450,375'],split_text=True,flag_size=True)`

The default flavor='lattice' uses demarcated lines between cells to parse tables.
In this case, I suggest to use flavor='stream', which is based on whitespaces between cells. The parameter table_areas  specifies exact table boundaries.

[2019-02-06 16:25] asmiy opened #271 "Camelot doubles some characters after extraction"

[2019-02-06 16:28] asmiy opened #272 "Camelot doubles some characters after extraction"
I tried to extract the tables in this pdf [409.pdf](https://github.com/socialcopsdev/camelot/files/2837241/409.pdf) specifying table_areas and using Stream as flavor. The result shows that Camelot doubles some characters.
Can you help ?

[2019-02-06 19:51] aperna1 commented on #270
How would the table_areas work given that the table boundaries are different for each table?

[2019-02-07 01:10] aperna1 commented on #270
I was able to get it with the following:
Thanks for the help!

col = len(tables[0].cols)-1
row = len(tables[0].rows)-1
x1 = tables[0].cols[0][0]
x2 = tables[0].cols[col][1]
y1 = tables[0].rows[0][0]
y2 = tables[0].rows[row][1]

[2019-02-07 01:27] jaimeorrego opened #273 "Superposition from text in different columns"
Thank you for the great package. I have a small issue in a PDF that is based on a spreadsheet.
One of the columns refers to an address and the following column refers the district. The issue happens when the text of one column is longer than the column width (columns 5 and 6 in the last row).
![image](https://user-images.githubusercontent.com/36428270/52384543-c7c7c400-2a32-11e9-9923-6ad1d74607a2.

[2019-02-07 08:03] anakin87 commented on #272
Please show the output...

[2019-02-07 08:04] anakin87 commented on #273
Please provide the original PDF and your output...

[2019-02-07 08:36] asmiy commented on #272
@anakin87 here's the output : [293.1.xlsx](https://github.com/socialcopsdev/camelot/files/2839921/293.1.xlsx), I think that it doubles bold characters.

[2019-02-07 22:46] jaimeorrego commented on #273
Here is the pdf
[test2.pdf](https://github.com/socialcopsdev/camelot/files/2842935/test2.pdf)
Here is the result for the column separator without split text
`camelot --format csv --output test2.csv stream -C 85,140,181,399,458 test2.pdf`
`2019-02-07T14:37:38 - INFO - Processing page-1 Found 1 tables`
[test2-page-1-table-1.xlsx](https://github.com/socialcopsdev/camelot/files/2842947/test2-page-1-ta

[2019-02-07 22:55] jps-ob opened #274 "boundary of cells are not detected when cells are tightl"
[dl_li_zag_e-geld-institute.pdf](https://github.com/socialcopsdev/camelot/files/2842949/dl_li_zag_e-geld-institute.pdf)

First  2 rows of the first table  looks like this

| Instituts-ID |........| Strasse                                          | Erlaubnis erteilt am               |
| 119636       |........| Esprit-Allee 1                                 | 30.04.2011 (§ 36 Abs. 1 ZAG) |  
| 1233

[2019-02-07 23:12] jps-ob commented on #274
I tried line_scale upto 75

[code]

[2019-02-08 12:42] skywalker087 commented on #259
I hope I haven't missed any information here. Do you need anymore information on this issue?

[2019-02-08 13:32] aadolf25 commented on #142
@fengyuxl  I had the same issue.
1. pip uninstall camelot
2. pip uninstall camelot-py
3. Delete the folder C:\Python36\Lib\site-packages\camelot, C:\Python36 is where python was installed
4. pip install camelot-py[all]

After this i noticed an additional site-package camelot_py-0.7.1-py3.6.egg-info

Good luck

[2019-02-09 20:41] aperna1 commented on #245
@vinayak-mehta I was getting the same error, but when I tried to upgrade to v0.7.2 using `pip install --upgrade camelot` I started getting this error: `AttributeError: 'module' object has no attribute 'read_pdf'`

[2019-02-10 10:54] vinayak-mehta commented on #245
@aperna1 Try upgrading again, it has been released.

[2019-02-10 10:59] vinayak-mehta commented on #259
Stream will try to find tables from whatever text is used as input. Since page 2 doesn't contain any tables, you can do `pages='1,3'` instead of `pages='all'`.

[2019-02-10 11:04] vinayak-mehta commented on #274
You can try visual debugging (`kind='grid'`) from the advanced section of the documentation to see the detected table and tweak `line_scale` to get to your desired structure.

I don't think `multiple_tables` is a valid keyword argument.

[2019-02-10 11:08] vinayak-mehta commented on #273
Since the overlapping strings share the same x coordinates, they'll be put into the same columns. You can do some cleaning and separate the address from districts (assuming districts is a finite set).

[2019-02-10 11:10] vinayak-mehta commented on #272
It's possible that same characters may be positioned at a small offset to simulate a bold character. Which means pdfminer will get both characters out leading to doubling. This looks similar to #103.

[2019-02-10 11:10] vinayak-mehta commented on #270
@aperna1 Can you close this issue if your problem was solved?

[2019-02-10 11:12] vinayak-mehta commented on #271
Looks similar to #272. @yatintaluja Please close this issue.

[2019-02-11 00:34] #270 closed

[2019-02-11 00:37] aperna1 commented on #245
@vinayak-mehta When I use `pip install camelot-py[cv]` I still get v0.7.1

[2019-02-11 08:42] #271 closed

[2019-02-11 15:15] Jackblackpearl opened #275 "Not able to detect tables to extract text from it.."
Can you please do let me know how to extract details from attached pdf. I'm not able extract text from the table.
[18508126_1.pdf](https://github.com/socialcopsdev/camelot/files/2851643/18508126_1.pdf)

[2019-02-11 17:21] vinayak-mehta commented on #275
Hello @Jackblackpearl. Can you post the code that you used and the exact problem that you're facing?

[2019-02-11 17:30] Jackblackpearl commented on #275
import camelot
import matplotlib.pyplot as plt
tables = camelot.read_pdf("D:\\Notsaved\\karthickk\\Downloads\\18508126.pdf",flavor='stream')
tables
plt.plot("D:\\Notsaved\\karthickk\\Downloads\\18508126.pdf")
plt.show()
tables[0].to_csv('foo.csv')

Output:
![2019-02-11 22_59_53-microsoft excel - foo csv](https://user-images.githubusercontent.com/45002614/52581460-d35f2480-2e50-11e9-8c13-ec2a305687

[2019-02-11 17:31] Jackblackpearl commented on #275
received only this information didnt get rest of the information

[2019-02-12 04:31] jaimeorrego commented on #273
Okay. Thank you. I did that and works fine, just was checking it is was the right behavior.

[2019-02-12 04:31] #273 closed

[2019-02-14 11:43] Alcasser opened #276 "Some columns get merged"
Hello, very nice package.

I'm currently having an issue with some columns. I get their values merged.
The source pdf is [this one](https://www.fomento.gob.es/recursos_mfom/informe6.pdf)

After performing `pages = camelot.read_pdf(OUTPUT_PDF_FILE, flavor = 'stream', pages = 'all')`
The resulting data of the table first row contains the following values. (Merged values: ENL. M-40 + L.P BURGOS-ALAVA

[2019-02-15 14:15] symroe opened #277 "Sort TableList by order of tables in PDF"
I would expect the `TableList` returned by `read_pdf` to return a list of tables in the order defined in the PDF (by page, then table on that page).

I think this requires a few things:

1. Create a `__lt__` method on `Table` that looks like:
[code]
2. Create an `__iter__` method on `TableList`

3. `return sorted(tables)` in `read_pdf`

I'd be happy to make these changes, but wonder if there are r

[2019-02-16 04:54] PraveenDevop opened #278 "Not able to read pdf tables spread across multiple pages"
Since my table is spread across multiple pages and if the horizontal line is missing, i am not able to read the table
[Resume1.pdf](https://github.com/socialcopsdev/camelot/files/2871612/Resume1.pdf)
PDF link:https://onedrive.live.com/?id=690704CAD1449D85%21105&cid=690704CAD1449D85

In the pdf attached i am not able to read the 2x2 table. Can we identify tables only using vertical lines or can we

[2019-02-16 05:39] PraveenDevop commented on #278
Code used:
import pandas as pd
import camelot
FileName="Filepath"
DF3=camelot.read_pdf(FileName,multiple_tables=True,options="--pages 'all'", lattice= True)
print DF3

[2019-02-16 07:01] kaneprajakta commented on #141
Can I you help me parsing a file in regional language like marathi in camelot?

[2019-02-16 14:18] anakin87 commented on #278
You can try to extract tables with flavor='stream', but the output is not so good.

I think Camelot currently doesn't extract a table spreading across multiple pages as a single table, but as different tables.
It would be a nice to have feature.

[2019-02-18 03:31] jeswingeorge commented on #184
**Issue: RuntimeError: Please make sure that Ghostscript is installed**

Hi Vinayak,

I installed ghostscript and tkinter. Added ghostscipt to path but still the issue is not resolved.

**OS type and version numbers:**
Windows-8.1-6.3.9600-SP0
Python 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:06:47) [MSC v.1914 32 bit (Intel)]
NumPy 1.15.0
OpenCV 4.0.0
Camelot 0.7.2

I am using the foo.pdf file use

[2019-02-18 17:35] vinayak-mehta commented on #184
@jeswingeorge You can check if ghostscript is installed using this check: https://camelot-py.readthedocs.io/en/master/user/install-deps.html#for-ghostscript

[2019-02-18 17:39] vinayak-mehta commented on #278
@anakin87 is correct, tables spanning across multiple pages aren't extracted into a single table currently.

@PraveenDevop, where did you find the following code usage?

`DF3=camelot.read_pdf(FileName,multiple_tables=True,options="--pages 'all'", lattice= True)`

`multiple_tables`, `options` and `lattice` aren't valid keyword arguments supported by the library.

[2019-02-18 17:40] vinayak-mehta commented on #141
@kaneprajakta What is the problem that you're facing? Can you also post the code snippet that you're using?

[2019-02-18 17:53] vinayak-mehta commented on #277
There aren't any reasons against doing this, it just wasn't a priority. You can go ahead and open a PR! Do check out the [contributor's guide](https://camelot-py.readthedocs.io/en/master/dev/contributing.html) before opening one.

[2019-02-18 17:53] PraveenDevop commented on #278
This is from tabula arguments..

[2019-02-18 17:55] vinayak-mehta commented on #278
Tabula keyword arguments won't work inside Camelot. You can check out the [advanced guide](https://camelot-py.readthedocs.io/en/master/user/advanced.html) to see what keyword arguments Camelot supports.

[2019-02-18 18:25] Jackblackpearl commented on #275
Vinayak any update on the my pdf???

[2019-02-20 09:43] pablobarria opened #279 "Lattice with html output truncates text longer than 46 characters"
Version: 0.7.1

Basically what the title says: Using **lattice** with **html** output, the resulting files have text over 46 characters truncated, with an ellipsis appended to indicate the missing text. Not sure that this is an option that can be turned off, doesn't appear to be.

[2019-02-20 09:58] anakin87 commented on #279
Since table is treated as a Pandas dataframe, this behaviour depends on Pandas configuration.

Try with the following:

`import pandas as pd`

`pd.set_option('display.max_colwidth', -1)`

`tables[0].to_html('table_0.htm') `

[2019-02-20 13:54] pablobarria commented on #279
Thank you. Is there a way to address this for the CLI version?

[2019-02-22 18:19] arthur-b-renaud opened #281 "Stream algorithm has possible bbox error"
From the stream.py file, starting line 281

``
      def _generate_table_bbox(self):
        self.textedges = []
        if self.table_areas is None:
            hor_text = self.horizontal_text
            if self.table_regions is not None:
                # filter horizontal text
                hor_text = []
                for region in self.table_regions:
                    x1, y1, x2, y2 = r

[2019-02-25 05:25] vinayak-mehta commented on #281
Hi @arthur-b-renaud, the usage is correct. Since the `text_in_bbox` function takes in bottom-left and top-right coordinates and the CLI/library input expects top-left and bottom-right coordinates (just as you would click-and-drag to select a table on an interface). I understand how it can be confusing, someone mentioned it in an earlier issue too. We can change the internal function calls to fix t

[2019-02-25 08:01] arthur-b-renaud commented on #281
Great, thanks for you answer ! Yes, that was a bit disturbing...

[2019-02-25 08:01] #281 closed

[2019-02-25 08:12] rafiepstein opened #282 "RuntimeError: Please make sure that Ghostscript is installed"
Hello,
Trying to run a single line: (Python 2.7.15 under Pycharm)
[code]

Full Stack:
C:\Python27\python.exe "C:\Program Files\JetBrains\PyCharm 2018.2.2\helpers\pydev\pydevd.py" --multiproc --qt-support=auto --client 127.0.0.1 --port 51131 --file C:/Users/Rafi/Documents/re_FOCUS/StrataVAR/Python/testPDFTables.py
pydev debugger: process 8344 is connecting

Connected to pydev debugger (build 183.54

[2019-02-26 02:46] pengqi opened #284 "Can not extract Chinese chars after py2exe"
It's strange. It works well in Python source code model, but can not extract Chinese chars after i  convert the code into exe file via py2exe.

[2019-02-26 09:23] lohchong opened #285 "Exclude diagram/figure which detect as table"
Is it possible to exclude this diagram for example? How can I do it?

![image](https://user-images.githubusercontent.com/3214369/53401677-3d4c0200-39eb-11e9-9827-5475e3c20af3.png)

[2019-02-26 11:22] LanesG opened #286 "Segmentation fault on RHEL"
On my RHEL 7.6 I get an error when using the command line:
[code]

Camelot is installed via `conda install -c conda-forge camelot-py` inside an Conda environment that is running JupyterHub.

[2019-02-26 19:33] vinayak-mehta commented on #285
Instead of excluding a diagram, you can select a specific table region to look for tables. You can check out the advanced docs to know more about it.

[2019-02-27 01:58] dolphincaminer commented on #226
https://s3.cn-northwest-1.amazonaws.com.cn/sampledata/Extraction+Data+Summary/Yunique+Solutions/Tech+Pack/M100-18-4408+(TP-50254).pdf，The second page of this file has the same problem, and the table extracted on the sixth page is empty, which seems to be the problem of the pdfminer package.

[2019-02-27 02:13] dolphincaminer commented on #226
https://s3.cn-northwest-1.amazonaws.com.cn/sampledata/Extraction+Data+Summary/Yunique+Solutions/Tech+Pack/M100-18-4408+(TP-50254).pdf

[2019-02-27 12:35] amshukla3 opened #287 "AttributeError: module 'pandas.compat' has no attribute 'Iterable'"
When I try to read any pdf file using read_pdf, I am getting an error message as "AttributeError: module 'pandas.compat' has no attribute 'Iterable'". I am currently using a Windows setup. I have already installed  tkinter and GhostScript at location C:\.
Also, during the installation I got this message "blaze 0.11.3 has requirement sqlalchemy>=0.8.0, but you'll have sqlalchemy 0.7.10 which is inc

[2019-02-28 15:43] PraveenDevop commented on #278
using the below code also not able to detect the tables
import pandas as pd
import camelot
FileName="Filepath"
tables = camelot.read_pdf(FileName,pages='1-end')
print tables

[2019-02-28 17:04] anakin87 commented on #278
I suggest to use
flavor='stream':

tables = camelot.read_pdf(FileName,pages='1-end',flavor='stream')

[2019-03-04 07:28] retsyo opened #288 "some tables are skipped"
you can find the [pdf file](https://github.com/retsyo/camelot_bug/blob/master/source.pdf), which is exported from a [DOCX file](https://github.com/retsyo/camelot_bug/blob/master/source.docx) by [wps](https://www.wps.com/)

the following code says there is only 2 tables on page 2. In the exported `foo.xlsx` we can find that `tab 2-1` and `tab 2-2` is missing.

[code]

[2019-03-04 08:16] anakin87 commented on #288
When I try to execute `tables = camelot.read_pdf(r'source.pdf', pages='2')`,
i get the following error:
`PdfReadError: EOF marker not found`

[2019-03-05 02:13] #285 closed

[2019-03-05 13:10] VijayaLakshmiArthanari commented on #118
Just uninstall camelot and reinstall it. It works for me

[2019-03-05 13:18] VijayaLakshmiArthanari commented on #118
@vinayak-mehta This will worked for me. I am having the another .py file named as camelot.py. That's why this problem was raised.

[2019-03-05 14:55] retsyo commented on #288
latest gswin64.exe in ghostscript 9.26, SumatraPDF, foxit reader and many other PDF readers can open the pdf file and render 3 pages without any problem

I am using latest cloned camelot with
[code]
on windows 7 64 bits

[2019-03-06 07:26] Mehroz01 opened #289 "Table are not detected"
You can see this below pdf file, Page number 5. I am trying to extract this type of table.  but they are not detected, kindly guide me if you know the way to extract table from pdf. I have uploaded both table image and  pdf file(page #5 ) .
Thank you
[1-s2.0-S026130691100553X-main.pdf](https://github.com/socialcopsdev/camelot/files/2934939/1-s2.0-S026130691100553X-main.pdf)

![table](https://user-

[2019-03-06 13:27] EdinH commented on #184
@vinayak-mehta: I am having the same issue even though ghostscript is successfully installed.
[code]
when I run the camelot.read_pdf() in Jupyter notebook

[code]
 It pops out this error.

[code]

[2019-03-06 15:45] TheColtron commented on #184
Same thing going on for me. Ghostscript is added to path, the version check in cmd works, but I get the same runtime error with Camelot.

[2019-03-06 22:40] TheColtron commented on #184
@EdinH I was getting the same error on my first install, using pip. Uninstalled and tried again through conda and now it's working just fine, might be worth a shot.

[2019-03-07 08:34] EdinH commented on #184
@TheColtron Thanks! I tried with conda, but the process of "solving environment" was taking forever. So, I am fixing that issue and will come back to conda install option.

[2019-03-07 08:51] anakin87 commented on #289
I succeed using:
`tables = camelot.read_pdf('1-s2.0-S026130691100553X-main.pdf', pages='5', flavor='stream', table_areas=['0,710,250,650']) `

Explanation:

- flavor='stream'
because the table hasn't demarcated lines between cells (see https://camelot-py.readthedocs.io/en/master/user/how-it-works.html#stream)

- table_areas=['0,710,250,650']
using stream, it is advisable to specify table boundarie

[2019-03-07 15:10] TheColtron commented on #184
@EdinH I actually had that solving environment issue too! Even though I had a fresh install of conda, running:

`conda update conda`

Then installing camelot and excalibur did the trick for me.

[2019-03-07 16:05] EdinH commented on #184
@TheColtron  Yep, it’s fixed. That’s how did it. Thanks for hints!

[2019-03-08 07:25] Mehroz01 commented on #289
Thank you @anakin87 for your help :) .
@anakin87  there is any way to find "table areas" automatically . when we have 100's of PDF and wanted to extract table, So in this case we can not gives all table areas  manually .
do you know the way ...?
Thank you

[2019-03-08 14:33] vinayak-mehta commented on #289
Stream might fail in cases where the table forms a small part of the page, which can be solved using the `table_areas` kwarg like @anakin87 suggested. You can also try using the `table_regions` kwarg (https://camelot-py.readthedocs.io/en/master/user/advanced.html#specify-table-regions) if your table always lies in an approximate location on the page.

[2019-03-08 14:33] #289 closed

[2019-03-08 14:38] tal-yifat commented on #184
I'm having the same issue, and couldn't solve it using the solutions in this discussion. Ghostscript is installed (v. 9.22). I Installed the environment (and then tried to reinstalled it) with conda.

**Environment**
Darwin-17.7.0-x86_64-i386-64bit
Python 3.6.7 | packaged by conda-forge | (default, Feb 28 2019, 02:16:08)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
NumPy 1.16.2
Open

[2019-03-08 14:43] vinayak-mehta commented on #288
@retsyo Since the tables have smaller lines, you need to pass in `line_scale`. https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines I was able to get the first two tables out with a value of 40.

[2019-03-08 14:43] #288 closed

[2019-03-08 14:46] vinayak-mehta commented on #287
@amshukla3 Are you using conda or pip? You could try installing pandas separately with the package manager you're using.

[2019-03-08 14:49] vinayak-mehta commented on #284
Do you mean that it is able to extract Chinese chars when used in a normal Python file and not when the same file is converted into an exe using py2exe? Can you give some more details to reproduce the issue, like the code you're using, the command you used to convert the code to an exe, the PDF file etc.

[2019-03-08 14:52] vinayak-mehta commented on #282
Did you try the solutions mentioned in #184?

[2019-03-08 14:55] vinayak-mehta commented on #279
There isn't a way to do this from the CLI right now, would you like to open a PR?

[2019-03-08 15:24] #278 closed

[2019-03-08 15:43] vinayak-mehta commented on #276
Have you tried adding separators and splitting text along them? https://camelot-py.readthedocs.io/en/master/user/advanced.html#split-text-along-separators

[2019-03-08 15:48] vinayak-mehta commented on #275
@Jackblackpearl Sorry for the late reply. You can try specifying `table_areas` and `columns` to get the table out. The text is very sparse and the table isn't being detected because of that I think.

[2019-03-08 15:48] #275 closed

[2019-03-08 15:48] #277 closed

[2019-03-08 15:52] #274 closed

[2019-03-08 15:52] vinayak-mehta commented on #272
Closing as duplicate of #103.

[2019-03-08 15:52] #272 closed

[2019-03-08 15:53] vinayak-mehta commented on #265
Closing due to inactivity.

[2019-03-08 15:53] #265 closed

[2019-03-08 15:53] vinayak-mehta commented on #264
Closing due to inactivity.

[2019-03-08 15:53] #264 closed

[2019-03-08 15:55] vinayak-mehta commented on #263
Closing this, please reopen if your issue wasn't fixed.

[2019-03-08 15:55] #263 closed

[2019-03-08 15:56] #259 closed

[2019-03-08 15:56] #256 closed

[2019-03-08 15:56] #253 closed

[2019-03-08 15:57] #252 closed

[2019-03-08 15:57] #248 closed

[2019-03-08 15:57] vinayak-mehta commented on #246
Closing due to inactivity.

[2019-03-08 15:57] #246 closed

[2019-03-09 08:26] pablobarria commented on #279
Don't really know what that entails.

[2019-03-09 12:43] rafiepstein commented on #282
Hello Vinayak,
I am not sure what you mean by "solution mentioned"...
As far as I could tell, no solution relevant to Windows environment is mentioned.
Ghoscript is installed as per the test suggested. PATH is setup correctly.
The problem seems to be in _gsprint.py,
line: for num in range(0, QueryInfoKey(k1)[0]):
as QueryInfoKey(k1)
(0, 0, 131955739057984515L)
thus range(0, QueryInfoKey(k1)[0]) is

[2019-03-10 01:47] retsyo commented on #288
thanks. In general, does a larger line_scale produce wrong table? Or in other words, if there is a lot of tables in tons of PDF files so as a result it is a hard work to check the extracted result upon original PDF files,  if I always use a  a very large line_scale, is it safe to extract **all** the tables? What we will lost?

[2019-03-11 08:22] anakin87 commented on #279
@vinayak-mehta :
No truncation should be the default behaviour or only an option?

[2019-03-11 11:57] tal-yifat commented on #282
I'm having a similar issue, and couldn't solve it using the solutions mentioned in [#184](https://github.com/socialcopsdev/camelot/issues/184). I'd appreciate any suggestions.

**Environment**
Darwin-17.7.0-x86_64-i386-64bit
Python 3.6.7 | packaged by conda-forge | (default, Feb 28 2019, 02:16:08)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
NumPy 1.16.2
OpenCV 3.4.4
Camelot 0.7.1
G

[2019-03-11 12:12] LanesG commented on #286
A `conda update --all -c conda-forge` fixed it!

[conda_update.txt](https://github.com/socialcopsdev/camelot/files/2952094/conda_update.txt)

[2019-03-12 10:36] #286 closed

[2019-03-12 10:40] vinayak-mehta commented on #288
— https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines

[2019-03-12 10:42] vinayak-mehta commented on #279
Since the default user expectation is to get all the text out of a PDF, we could have this as a default behavior when output format is HTML. What do you think?

[2019-03-12 15:25] QCTW commented on #282
I have the same issue with the standalone version of Ghostscript (install version is not allowed due to the IT policy in my company). I had set the bin and lib directories of the Ghostscript (standalone) in PATH but Camelot is still trying to find the Ghostscript from the Windows registry.

[2019-03-14 08:26] anakin87 commented on #279
When the output is CSV or other (not HTML), we don't want anyway to extract all the text?

[2019-03-15 11:16] kristiansvenssonsweco opened #291 "pyinstaller"
Hi!

I can't seem to build a working exe-file using pyinstaller. Is this something you have tried? Do I need to add camelot-specific hooks?

After a successful build using pyinstaller I get this error trying to run the exe-file:

[code]

Thanks,

Kristian

[2019-03-16 14:01] oelashkar opened #292 "Can't reproduce the outputs in the comparison wiki page"
I can't reproduce the csv output in the wiki below.

`https://github.com/socialcopsdev/camelot/wiki/Comparison-with-other-PDF-Table-Extraction-libraries-and-tools`

I can't find a lot of documentation for camelot. May you update the wiki to add the scripts used to scrape these pages.

thank you.

[2019-03-17 08:08] pantuts commented on #282
In macos `brew install ghostscript`

[2019-03-18 10:32] Paras-Gupta790 commented on #118
module 'camelot' has no attribute 'read_pdf'
I had uninstalled the file and again install it but the error still remains and there is no file named camelot.py I have.

[2019-03-18 15:45] tal-yifat commented on #282
In my case, Ghostscript is successfully installed. Shouldn't this be a bug?

[2019-03-21 10:30] CartierPierre commented on #118
I have the same with camelot-py 0.7.2

[2019-03-21 21:05] vinayak-mehta opened #293 "Split text ignores all text to the right of last cut"
Consider a horizontal textline with `x1=100`, `x2=200` and `text='abc def'` with a line cut at `150` between `abc` and `def`. In this case, `def` will be ignored completely when `split_text=True`.

[2019-03-23 08:49] aborruso opened #295 "feature request: change output file names rules"
Hi,
when I have a PDF with more than 10 pages, I have this kind of output:

[code]

Then if I want to merge these in order, usually programs will use this order, and I will have a wrong output.

[code]

I think that (I'm not able to write the code) it would be great to have a camelot internal rule, that if the pages <10, the output start from 1, if the pages are between 10 and 99 the output start

[2019-03-23 10:42] aborruso commented on #229
Hi @vinayak-mehta  how to use strip='\n' in the commandline version?

Thank you

[2019-03-23 10:46] aborruso commented on #229
Sorry I have seen it: `-strip ' .\n'`

[2019-03-23 11:07] aborruso opened #296 "not able to use -copy and -strip using command line"
Hi,
I have camelot 0.7.1.

If I run

    camelot -copy v -strip ' .\n'  -p 1 -o test.csv --format csv lattice  input.pdf

I have "Error: no such option: -c".

Do I must update to 0.7.2?

Thank you

[2019-03-23 12:14] aborruso opened #297 "Example of wrong output"
Hi,
if I run `camelot  -p 11 -o test.csv --format csv lattice _11032019105856.pdf` int [this](https://github.com/socialcopsdev/camelot/files/2999323/_11032019105856.pdf) file, the output of the second cell in row 2 is in the first cell.

![image](https://user-images.githubusercontent.com/30607/54865895-5d15e200-4d6d-11e9-98ee-16a4d58b15df.png)

| 1 | 2 | 3 | 4 |
| --- | --- | --- | --- |
| "K B 27

[2019-03-23 12:17] aborruso opened #298 "API Reference: I do not find strip"
Hi,
in the [API](https://camelot-py.readthedocs.io/en/master/api.html) I have `strip_text`, but not [`strip`](https://github.com/socialcopsdev/camelot/issues/229).

I'm not sure, but probably it should be in that page.

Thank you

[2019-03-24 11:34] huntzhan commented on #161
@outsiderJiumao Thanks for the insight. Wondering if you have come up with a solution.

[2019-03-25 03:54] KAIXIE commented on #282
Ghostscript is successfully installed. Shouldn't this be a bug? yes it is a bug!!!!!

[2019-03-25 07:34] anakin87 commented on #297
If you use the option split_text, the problem gets solved...

`tables = camelot.read_pdf('_11032019105856.pdf',pages='11',split_text=True) `

[2019-03-25 09:01] aborruso commented on #297
@anakin87  thank you very much, it works

[2019-03-25 09:01] #297 closed

[2019-03-28 13:04] KarnanSmash opened #299 "how to get text in non boundary pdf using camelot"
How to get text in specific region by specifying coordinates. I want to get Invoice number from invoice.pdf which has no boundaries

[2019-03-28 13:12] anakin87 commented on #299
Please post an example

[2019-03-28 16:46] LinHongyang opened #300 "camelot can not extract tables from annual report"
Hi!
I tried to extract tables for some annual report files that are posted online, but Camelot cannot get any table from them.
The result is like this:

<TableList n=0>

<TableList n=0>

These files do have tables on the corresponding pages, but cannot be detected. I'd like to know the reason.

Here are the links of the file I tried to work with:
chrome-extension://oemmndcbldboiebfnladdacbdfmadadm

[2019-03-28 20:42] priyarvyas commented on #262
is this bug resolved?

[2019-03-29 05:22] rannj005 opened #301 "Performance improvement for fixed table Pdfs"
I am trying to extract data using lattice flavor for pdfs. The table data is fixed it has fixed boundary as well as fixed column width for each column. Have tried specifying the **table_areas** parameter as well. Is there a way to improve the **performance(Time Taken)** of extraction given that table boundaries and columns are fixed? Have attached sample pdf. Please suggest a way out.
[sample.pdf]

[2019-03-29 08:13] anakin87 commented on #300
Try using flavor='stream'.

Please read the docs: https://camelot-py.readthedocs.io/en/master/user/advanced.html

[2019-03-29 08:16] anakin87 commented on #301
What do you mean for performance?
Time, quality of results...

[2019-03-29 08:53] rannj005 commented on #301
The time taken is more. Quality is perfect.

[2019-03-30 02:20] WindChaserZ opened #302 "Generate table with spanning cells"
I am trying to generate an html table with spanning cells. After parsing out the table, each cell has rowspan and colspan information. However, after calling the pandas package and converting it into a DataFrame, the position and spanning information of each cell is lost. So the resulting form does not have spanning cells.
Could you please add a function to generate a table with spanning cell?

[2019-04-01 06:33] rannj005 commented on #301
Please mention the ways to improve the speed of pdf table extraction.

[2019-04-02 07:11] niazangels opened #303 "Reduce file reads in camelot.handlers._save_page"
`camelot.handler._save_page` is called as many times as there are `pages` passed to `camelot.read_pdf`. Each time this function is invoked, the source PDF is read from disk, parsed using `PdfFileReader` and is decrypted. This is something which can be reduced that contributes significantly to performance.

A great way to avoid this is accept a list of `pages` instead of `page` and run `_save_pages

[2019-04-05 08:41] homofortis opened #304 "Poor table auto-detection?"
First of all, Camelot is a great project with enormous potential!
In my experience, Camelot is properly extracting most of the tables from a document provided the right parameters have been supplied.  However this is not always the case in the real world. Sometimes you have to deal with thousands of documents with different layouts and processing them one by one is not an option. It seems, auto-de

[2019-04-08 15:26] MnvS opened #305 "Detect colored cells in table"
Hi All,

This is great library and thanks for development effort on this. I have a question - Can this library detect colored cells and if so is there any documentation related to this.

If not, can we develop something to exclude/include colored cells from table.

[2019-04-09 12:42] anakin87 commented on #305
Try to read this:
https://camelot-py.readthedocs.io/en/master/user/advanced.html#process-background-lines

[2019-04-09 19:24] Fabian1337 commented on #162
any update on this ?
i am not able to move with my system to qpdf so i am looking for some python based solution :/

[2019-04-10 09:41] abhijeet-dev commented on #184
Please run the following and try again:
`brew link --overwrite ghostscript`

[2019-04-10 13:19] kristiansvenssonsweco opened #306 "read_pdf fails with an index out of range"
Camelot 0.7.2
The pdf-file is also attached.

running this:
`tables = camelot.read_pdf('3713-B31-24-04401_error.pdf',flavor='lattice', line_scale=30)`

results in this error:

[code]

Any ideas?
[3713-B31-24-04401_error.pdf](https://github.com/socialcopsdev/camelot/files/3063951/3713-B31-24-04401_error.pdf)

[2019-04-12 01:24] csrinivascreator opened #307 "Steam : Treating whole page as single table. Ignores from table 2."
When using stream, tables after the first table aren’t autodetected. The stream is currently treating the whole page as a single table. Because of which only the first table on the page is extracted when a page has multiple tables. Will be good if there is an attribute to instruct to Stream that there are multiple tables in a page and recognizing which it should loop for multiple table extraction.

[2019-04-12 12:13] vinayak-mehta commented on #307
@csrinivascreator Can you please post an example so that it is better to understand the issue?

[2019-04-12 12:15] vinayak-mehta commented on #306
Looks like a pdfminer bug. Let me try to reproduce it.

[2019-04-12 12:20] vinayak-mehta commented on #162
@Fabian1337 Does the the `password` kwarg introduced in 429640feeab449a4481f00bc48eeb92619129796 not work for you? Which system are you on? Is it possible to upload the PDF that you're trying to parse?

[2019-04-12 12:21] vinayak-mehta commented on #305
@MnvS Can you upload an example to better illustrate the use case?

[2019-04-12 12:26] vinayak-mehta commented on #304
@homofortis Did you randomly apply the flavors to that large set of PDFs? How did you go about measuring the accuracy of results? Automatically choosing the flavor based on tables in a PDF is a planned enhancement #211.

The second issue is improving table auto-detection in the flavors themselves. It would help if you could that post that set of documents along with your findings which would help

[2019-04-12 12:28] vinayak-mehta commented on #303
@niazangels Thanks for pointing it out! Please raise that pull request :)

[2019-04-12 12:30] vinayak-mehta commented on #301
@rannj005 Let me look into this.

[2019-04-12 12:34] vinayak-mehta commented on #302
Can you share the PDF and the code you wrote that can help me reproduce this. `copy_text` kwarg (you can find out about it in the advanced docs) in a way preserve that spanning cell information.

[2019-04-12 12:35] vinayak-mehta commented on #299
^same

[2019-04-12 12:37] vinayak-mehta commented on #282
I'll look into this over the weekend.

[2019-04-12 12:38] vinayak-mehta commented on #298
Thanks for reporting this!

[2019-04-12 12:38] vinayak-mehta commented on #296
Yes, please use the latest version.

[2019-04-12 12:40] vinayak-mehta commented on #296
@aborruso `copy` has to be used after `lattice`. Please check out the CLI docs.

[2019-04-12 12:40] #296 closed

[2019-04-12 12:41] vinayak-mehta commented on #295
Closing for now.

[2019-04-12 12:41] #295 closed

[2019-04-12 12:50] aborruso commented on #296
Thank you.

In the example I see `camelot lattice -copy v copy_text.pdf`.

But I think it should be better to add in the documentation "note, it's necessary to insert the option always after lattice".

[2019-04-12 12:51] aborruso commented on #295
@vinayak-mehta but what do you think about?

[2019-04-12 14:06] sharvi8 opened #308 "Unable to detect first table in attached pdf"
[IR-A-C-24004.pdf](https://github.com/socialcopsdev/camelot/files/3073610/IR-A-C-24004.pdf)

i have used the following options:
process_background = True
line_space - played around with several numbers
flavour='stream'

not sure what else to do.

[2019-04-12 17:52] csrinivascreator commented on #308
tables_stream = camelot.read_pdf(pdf, flavor='stream', pages='all', table_areas=['0,842,595,0'])

I have used this approach and this worked as an alternate to make stream read the complete page and give all the tables as output. The output looks good and can be used as a workaround.

Please let me know what you suggest?

[2019-04-12 18:04] csrinivascreator commented on #307
tables_stream = camelot.read_pdf(pdf, flavor='stream', pages='all', table_areas=['0,842,595,0'])

I have used this approach and this worked as an alternate to make stream read the complete page and give all the tables as output. The output looks good for an A4 size PDF and can be used as a workaround.

Please let me know what you suggest?

[2019-04-13 05:17] sharvi8 commented on #308
Thanks, this does help to a certain extent. But i have 600 pdfs and i have written a code to create the first two tables of each pdf and keep appending them till i have two large tables from all the 600 pdfs.

If I just had to parse this pdf, your approach would help. But if I want to write an automated loop, I suppose it will not. Do you know if there is a way within lattice to recognize this tab

[2019-04-13 06:19] rhlr opened #309 "Is there any way to get the coordinates of full table ?"
As per the documentation,I can get the coordinates of each cell. But is it possible to readily get the coordinate of the full table without interpreting it from the cells  ?

[2019-04-14 05:18] niazangels commented on #303
Done! Could you please review https://github.com/socialcopsdev/camelot/pull/311 ?

[2019-04-14 14:23] Suyash458 commented on #298
Shouldn't it be added to the [CLI docs](https://camelot-py.readthedocs.io/en/master/user/cli.html)?

[2019-04-15 07:45] anakin87 commented on #309
You can get table boundaries from the attribute _bbox.

For example:
`tables[0]._bbox`

returns:
(26.752468604, 327.1792077589937, 583.23248451184, 702.5663924296314)

[2019-04-15 14:08] CartierPierre commented on #101
Am I right, Camelot is using word boundaries with stream extraction (Nurminen Algorithm ?), and OCR like pytesseract makes word boundaries too ? It looks not so hard to include scanned PDF in camelot ?

[2019-04-16 09:19] eldarvagapov opened #312 "Table_regions"
table_regions kwarg throws an ValueError: too many values to unpack (expected 4)

tables = camelot.read_pdf('sberbank_statement.pdf', flavor='stream', pages='1-end', table_regions=['168,145,568,740'])

where
168 = Left,
145 = Top
568 = Left + Width
740 = Top + Height

`/anaconda3/lib/python3.7/site-packages/camelot/parsers/stream.py in _generate_table_bbox(self)
    287                 hor_text =

[2019-04-16 15:05] wangxiangtao commented on #282
exact same issue as well.   I have the same issue with the standalone version of Ghostscript (install version is not allowed due to the IT policy in my company). I had set the bin and lib directories of the Ghostscript (standalone) in PATH but Camelot is still trying to find the Ghostscript from the Windows registry.

[2019-04-17 06:51] anakin87 commented on #312
I get the same error.
Don't know why, but with flavor='lattice', I don't get this error.

[2019-04-18 20:38] joeyjustcuz commented on #312
im getting this error also

scamelot\parsers\stream.py line 289

my code:

[2019-04-20 15:11] vinayak-mehta commented on #312
I know why this is happening. From the traceback, the `region` string is not being split like an `area` is being split (you can see it not too down below). We just need to convert it to `region.split(',')`. I'll push a fix tonight.

[2019-04-20 15:15] vinayak-mehta commented on #101
@CartierPierre I'll check out pytesseract. A lot of pre-processing steps also need to be added before the image can finally be passed into an OCR engine. This page provides a good overview: https://github.com/tesseract-ocr/tesseract/wiki/ImproveQuality

[2019-04-20 15:16] vinayak-mehta commented on #309
Correct!

[2019-04-20 15:16] #309 closed

[2019-04-20 15:17] vinayak-mehta commented on #298
Yes, would you like to update the CLI docs?

[2019-04-20 15:18] vinayak-mehta commented on #303
Thanks for the PR, I'll do it this weekend!

[2019-04-20 15:25] vinayak-mehta commented on #308
@sharvi8 I believe you're looking for `line_scale` and not `line_space`. There is no keyword argument called `line_space` inside the library. You can check out [this section](https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines) of the advanced docs for more information.

[2019-04-20 15:26] vinayak-mehta commented on #308
Sorry for the late reply here, I'm closing this. Please reopen if you still face the same issue.

[2019-04-20 15:26] #308 closed

[2019-04-20 15:28] vinayak-mehta commented on #307
Cool

[2019-04-20 15:28] #307 closed

[2019-04-20 15:38] vinayak-mehta commented on #282
I currently don't have a Windows machine to test this, let me install it on my current laptop. I believe we should just try to get rid of ghostscript with #96.

[2019-04-20 15:42] vinayak-mehta commented on #295
@aborruso I believe you're talking about how the files are being saved onto your filesystem, right? Camelot saves them sequentially, but when you do an `ls`, the output you see is what you posted. If you need to process them in order, you have to sort them using a custom key function inside the `sorted` function of the stdlib. For example: `sorted(glob.glob('*.csv', key=lambda x: int(x.split('_')[

[2019-04-20 16:00] #293 closed

[2019-04-20 18:00] aborruso commented on #295
Hi @vaibhavmule no, because your reply seems to me python related.

You have built this great tool (thank you thank you thank you), and there is also the command line version.
My feature request is related to the default output of the cli, that in some way is not immediately ready, because the first thing is concatenate in order, and the order for more than 9 output files is incorrect.

[2019-04-21 00:51] vaibhavmule commented on #295
@Suyash458  You meant to say @vinayak-mehta!

[2019-04-22 10:48] Suyash458 commented on #298
Sure, will submit a PR

[2019-04-22 14:18] aborruso commented on #298
Hi @Suyash458 and @vinayak-mehta and thank you.

It's important for the CLI but I think it should be also in the API webpage. I do not know if it's the source of the CLI docs.

Thank you

[2019-04-23 00:26] surfaceowl commented on #184
@vinayak-mehta --- I am also having this issue, and solutions above did not fix for me.  Ghostscript is installed - I can run it and can find the registry entry manually, but `camelot` does not find Ghostscript.
 How would you recommend I proceed?

[code]
__Initial Error log from both cli and pycharm professional (v2019.1)__
[code]

__A few notes:__
1. I'm a windows user, would be glad to dev/test

[2019-04-23 06:44] kristiansvenssonwsp commented on #306
Thanks! I have a few pdf' files that generate this error. I can provide them if that helps.

[2019-04-23 07:17] kristiansvenssonwsp commented on #291
I fixed this by doing the following:

If you want to solve your problems use pycryptodomex
pip uninstall -y pycryptodome
pip install pycryptodomex
Then search and all the imports of Crypto and replace them with Cryptodome.

In my case I changed files: C:\Users\seks13473\AppData\Local\Programs\Python\Python36\Lib\site-packages\pdfminer\pdfdocument.py

More info here:
https://stackoverflow.com/quest

[2019-04-23 08:56] vinayak-mehta commented on #306
Yes, please do.

[2019-04-23 09:20] CartierPierre opened #313 "Edge_tol param in stream"
If I refer to
https://github.com/socialcopsdev/camelot/blob/7cf409aa08f937edd24d6ac14d8daa56e614bb6d/camelot/parsers/stream.py#L48
It's possible to change the edge_tol, but in the read_pdf kwargs, it's not possible to change it, it's filtered out here :
https://github.com/socialcopsdev/camelot/blob/7cf409aa08f937edd24d6ac14d8daa56e614bb6d/camelot/io.py#L104

[2019-04-23 09:52] CartierPierre opened #314 "Merging not working recursively"
I have an issue using more than 2 lines text bloc which it's not returning one bloc, see exemple :

returns

but

is on
three lines

returns

instead of expected

If i'm refering to the code,
https://github.com/socialcopsdev/camelot/blob/7cf409aa08f937edd24d6ac14d8daa56e614bb6d/camelot/parsers/stream.py#L120

There is no update of the new group created.
Is it possible to update it ? I can try to w

[2019-04-23 12:40] GuillaumeDesforges commented on #282
Same issue here

[2019-04-23 14:40] kristiansvenssonwsp opened #315 "Table extraction extract more rows than actually exists"
Sometimes table extraction extract more rows than actually exists. In the attached file for example. Visually the first table at the top contains 4 columns an 3 rows but Camelot reports 4 columns and 5 rows.
[41-21-40001.pdf](https://github.com/socialcopsdev/camelot/files/3108038/41-21-40001.pdf)

I'm extracting using this command:
Using Camelot 0.7.2
`tables = camelot.read_pdf(loadpath,flavor='la

[2019-04-23 15:01] kristiansvenssonwsp commented on #306
I'm attaching another 10 files that seems to have the same problem.
[list_index_bug_pdfs.zip](https://github.com/socialcopsdev/camelot/files/3108168/list_index_bug_pdfs.zip)

[2019-04-23 15:24] kristiansvenssonwsp commented on #96
I'm not exaclty sure what you are using Ghostscript for but I switched to pdftoppm for rasterizing pdf to images. I'm using the CLI tool and calling it from python.
For my scenarios, it's stable and generate images quicker than Ghostscript. I have had better success with fonts using pdftoppm as well.

I'm on windows and are using the latest binaries from here:
http://blog.alivate.com.au/poppler-wi

[2019-04-25 07:22] CartierPierre commented on #315
I guess Camelot is extracting the second table (5 row, 4 col)

[2019-04-25 09:36] CartierPierre commented on #314
Ok, I make a pull request, I tried the new code and it works for me

[2019-04-25 10:38] kristiansvenssonwsp commented on #315
Thanks for the input but the second table are correctly found with
4 rows and 5 columns.

[2019-04-25 12:01] CartierPierre commented on #315
So you extract 2 tables, both with 4 rows and 5 cols ? Have you tried using templates ?

[2019-04-25 12:12] kristiansvenssonwsp commented on #315
No:) I extract two tables, thats correct.

The first table on the top have visually:
4 columns and 3 rows
Camelot reports (wrongly)
4 columns and 5 rows

The second table at the bottom have visually:
5 columns and 4 rows
Camelot reports (correctly)
5 columns and 4 rows

[2019-04-25 14:14] yuansky opened #317 "use flavor='lattice' and plot kind=='joint' The plotted Y-axis coordinates are inverted, and it is difficult to use table area to get meaningful graphs."
<img width="412" alt="image" src="https://user-images.githubusercontent.com/9914666/56742508-744e5200-67a7-11e9-94c4-34333dac456e.png">

[2019-04-25 22:31] QwertyCoolMT opened #318 "\n between every letter?"
hey there,
One of the PDF's I'm trying to read is getting a newline between every letter within a given cell:
![image](https://user-images.githubusercontent.com/21363668/56772593-a43a2d00-6788-11e9-8532-387cdfcb4b8b.png)
code used to create this output:
`camelot.read_pdf('ITEMS.pdf',pages='1',text_strip='\n', flavor='stream', table_areas=['20,530,600,150'],columns=['30,330,380,410,470,530'])
`

[2019-04-26 08:01] CartierPierre commented on #318
text_strip='\n' ?

[2019-04-26 12:05] CartierPierre commented on #318
Yes, so it's normal your datas are splitted with '\n'. If the question is why every letters are splitted, maybe you should try to play with col_tol parameter ?

[2019-04-26 14:46] QwertyCoolMT commented on #318
Cols are decided by coloumns list in this one.. I will try to play with it anyway.

Also wondering whether it could have to do with pdfminer’s sentence/word detection

--
Erich D'Atri-Guiran

[2019-04-30 14:06] bettychou1993 commented on #308
I'm also facing the same issue. And the table_areas=['0,842,595,0'] does not work for me for the first page of A4. It actually detect more than 1 page, does anyone know any other methods? or how can i define the table_areas? sorry new to this.
Thank you!

[2019-04-30 14:50] bettychou1993 commented on #308
Hi, I'm facing the same issue. I tried tables_stream = camelot.read_pdf(pdf, flavor='stream', pages='all', table_areas=['0,842,595,0']) but it turns out that camelot not only extracts the first page but more.
Is there any other way to detect page by page?
Also, I'm sorry if i miss anything here, how to find the table areas?
Thanks

[2019-04-30 16:44] crotoc opened #320 "Is it possible to print the table to stdout?"
Hi there,
Thanks very much for your great project and save me a lot of time! Now I want to build a pipeline using camelot and need to know how to print the output to the stdout. Please let me know if there is a way!

Thanks,
Rui

[2019-04-30 21:09] marcoloew333 commented on #282
Same for me. Even if i install _ghostscript_ and _python3-ghostscript_ via pip.
macOS with PyCharm. Both latest versions.

[2019-05-01 00:55] QwertyCoolMT commented on #318
ended up re-opening file and stripping out the \n's myself as i was unable to find a solution within the library that worked.

[2019-05-01 01:17] QwertyCoolMT opened #321 "rows cell data merging vertically in single column"
![image](https://user-images.githubusercontent.com/21363668/57002088-b94cfc80-6b8a-11e9-841e-5a277c066113.png)

I've played with col tol and row tol to no luck, even custom columns do not separate the first column's data

[2019-05-02 12:53] OlegGavrilov opened #322 "Problem with parsing PDF table with unicode characters"
Hello! Sorry for reporting a minor issue, but when I tried to parse table with Unicode characters using Excalibur front-end, I got an error:
[code]

Fixed that by adding `.encode('utf-8')` at core.py:594.

Don't know if this is a good fix, but just hope it can help someone.

Thanks for the amazing project!

[2019-05-04 12:40] sharun-s opened #323 "Handling rows with missing boundaries"
This is more a question than a bug. Just wondering if there is a recommended way to handle rows where sometimes the row boundary line is absent between cells. Attaching an example. The issue is text from one cell then gets merged with the cell from the row above. In this example col 5 and 6 have various row boundaries missing.
![m](https://user-images.githubusercontent.com/18413274/57179123-c5d999

[2019-05-06 13:13] QwertyCoolMT commented on #321
![image](https://user-images.githubusercontent.com/21363668/57227382-42c35b00-6fdf-11e9-9bf8-2d10c24b6f85.png)
more of the same

[2019-05-06 13:14] QwertyCoolMT commented on #321
in fact this one is straight up miissing #'s  ie row 0, 1

[2019-05-06 14:49] sharun-s commented on #323
I found the shift_text=[''] in the docs which solved my problem so closing this issue.

[2019-05-06 14:49] #323 closed

[2019-05-07 06:41] daudna commented on #282
Had the same Issue on Windows. I just installed Ghostscript installer from this Website: https://www.ghostscript.com/download/gsdnld.html My Code is now having no issues.

[2019-05-07 06:42] daudna commented on #184
https://github.com/socialcopsdev/camelot/issues/282#issuecomment-489929317

[2019-05-08 15:58] vinayak-mehta commented on #321
Can you also post a link to that PDF?

[2019-05-08 16:03] vinayak-mehta commented on #318
Yes.

The `strip_text` kwarg will only strip characters from the start and end of a string.

[2019-05-08 16:03] #318 closed

[2019-05-08 16:07] vinayak-mehta commented on #320
What kind of pipeline are you looking to build? There is no option inside the library that'll print the table to stdout but you should be able to save the table in a CSV file using the CLI and then do a `cat` on that file.

[2019-05-08 16:11] vinayak-mehta commented on #308
@bettychou1993 You can do some [visual debugging](https://camelot-py.readthedocs.io/en/master/user/advanced.html#visual-debugging) to find out table area and column separator coordinates.

[2019-05-08 16:17] vinayak-mehta commented on #317
@yuansky That doesn't look like a table that can be extracted using the Lattice flavor. Lattice only works on tables where all cells have their boundaries made out of lines. You should be able to use Stream and specify table areas to get that table out.

[2019-05-08 16:17] #317 closed

[2019-05-08 16:22] vinayak-mehta commented on #315
More rows are being detected in the first table due to the text underlines in the bottom two rows intersecting with the table boundary.

[2019-05-08 16:26] Jackblackpearl opened #324 "Few columns are missing while to extracting data from the table"
Please find my code and PDF samples we are using to extract data from the table.
For the 1st and 2nd PDF few columns are missing and at same time for the 3rd PDF we are able to extract complete detail from the pdf.

Code:
import camelot
import matplotlib.pyplot as plt
path = "D:\\localhome\\kav\\Desktop\\WEDPO046799.pdf"
tables = camelot.read_pdf(path, pages = '1-end', table_areas=['12,585,814,51'

[2019-05-09 14:09] kristiansvenssonwsp commented on #315
Ahh. I see, it might be fixable then.

As a workaround, do you know of any library that can find and strip out the underlined text before running camelot?

[2019-05-12 20:27] nelsonlin2708968 opened #325 "NotImplementedError: only algorithm code 1 and 2 are supported"
Having trouble running this code on my mac. Using Conda virtual env and installed using conda. Pdf is not password protected.

import camelot
import pandas as pd
import re
import numpy as np
table1 = camelot.read_pdf('IEEJ - 2019 - Outlook.pdf')

---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
<

[2019-05-13 13:36] eldarvagapov commented on #312
@vinayak-mehta - did you manage to push that fix in the end?

[2019-05-14 08:43] dimidd opened #326 "ZeroDivisionError: float division by zero"
Hello,

After trying to extract tables using the Excalibur web interface, I got an error:
[code]
Which stems from this line:
https://github.com/socialcopsdev/camelot/blob/a1b85d2c91418d71262eea42114be2229687efc3/camelot/utils.py#L568

I'll try to reduce the PDF to a minimal reproducible example and update this issue.

[2019-05-16 03:48] jnl29 commented on #286
I tried the command above and still not working. I am also using anaconda to run Camelot (GPL Ghostscript 9.22, Python 3.7.3)

[2019-05-17 17:08] davidkong0987 opened #327 "Does not scrape 'old style numbers'"
Hi,
This might be an issue with PyPDF2 but old style numbers (aka lowercase numbers) are not properly scraped. For example for this pdf, http://wwwimages.adobe.com/content/dam/acom/en/products/type/pdfs/AdobeGaramondPro.pdf
camelot.read_pdf([filepath], flavor='stream',pages='10')

returns the following

Adobe Garamond Pro Glyphs
Adobe Garamond Pro’s large glyph complement was designed to fur-
ther

[2019-05-20 01:22] pksingh210 opened #328 "Unable to extract all pages and first two columns getting mixed"
Hi Vinayak,

I am unable to extract table spread on multiple pages and also first two columns getting messed up. File is attached for your advise.

Regards,
Pramod
[editecd-CBASavings-S.pdf](https://github.com/socialcopsdev/camelot/files/3195900/editecd-CBASavings-S.pdf)

[2019-05-20 01:50] Jackblackpearl opened #329 "Not able to extract table"
Hello,

Try to extract data from below file but getting an error message. Please find the code below

import camelot
import matplotlib.pyplot as plt
path = "D:\\localhome\\kk\\Desktop\\bestellung_ID_974880.pdf"
tables = camelot.read_pdf(path)#, table_areas=['41,448,328,438'], pages = '1', flavor = 'stream'
#print(tables[0].parsing_report)
camelot.plot(tables[0])
plt.show()
tables.export("D:\\local

[2019-05-20 08:09] #299 closed

[2019-05-20 08:10] KarnanSmash commented on #299
I got it. Thanks

[2019-05-21 11:47] dev0493 commented on #262
Issue: OSError: exception: access violation writing 0x0EA8B7B0

System config:
Windows-10-10.0.17134-SP0 64bit
Python 3.7.3
OpenCV 4.1.0
Camelot 0.7.2
NumPy 1.16.2
Ghostscript 132bit

[2019-05-23 02:49] shiva1590 opened #330 "Running camelot (tkinter issue) on headless centos 7"
I am not able to imprt tkinter on headless centos 7 system.

I am using python 2.7.

Getting ImportError: No module named _Tkinter

Any help is much appreciated.

Thanks,
Shiva R

[2019-05-26 11:02] vinayak-mehta commented on #330
Did you try installing Tkinter using your package manager. You can try installing it using `yum`. https://stackoverflow.com/a/42244548

[2019-05-26 11:21] vinayak-mehta commented on #312
I remember creating a branch and adding that fix, but it clearly isn't in master or in the PRs. Let me push it today.

[2019-05-26 11:31] vinayak-mehta commented on #326
@dimidd That's a good idea! I'll take a look when you add that example with the PDF.

[2019-05-26 11:42] vinayak-mehta commented on #315
You can try reducing the `line_scale`, which is 15 by default. You can check out the docs for it [here](https://camelot-py.readthedocs.io/en/master/user/advanced.html#detect-short-lines). It works both ways.

I just tried with a value of 14 and was able to discard the underlines in the first table.

<pre>
$ camelot lattice -scale 14 -plot grid underlined-text.pdf
</pre>

[2019-05-26 11:42] #315 closed

[2019-05-27 17:19] #312 closed

[2019-05-27 17:19] vinayak-mehta commented on #312
Thanks for the bug report @eldarvagapov!

[2019-05-28 08:51] nielsvth opened #333 "Camelot - infinite waiting for extracting tables"
Dear all,

I used the following code to extract tables from a pdf file using the camelot module in python:

import camelot
tables = camelot.read_pdf('report.pdf',pages='1-15')
print (tables)

... nevertheless, the program doesn't return anything and I have to wait for an infinite amount of time, so I just end up killing the process in the end. It is does the same for different types of pdfs, some